; Tancredi sample configuration file

; Tancredi log verbosity level. Allowed level names are
;  - DEBUG (default)
;  - INFO
;  - WARNING
;  - ERROR
loglevel = "DEBUG"

; Write log entries to the given path. Ensure proper permissions are set.
; If "logfile" is empty or not set, log messages are sent to PHP error_log.
;logfile = "/var/log/tancredi/tancredi.log"

; Directory where Tancredi has Read/Write access
rw_dir = "/usr/share/tancredi/data/"

; Directory where Tancredi has Read access
ro_dir = "/usr/share/tancredi/data/"

; provisioning_url_path and api_url_path depends on your web server configuration
provisioning_url_path = "/provisioning/"
api_url_path = "/tancredi/api/v1/"

; Add a sample runtime filter that adds current date to the current scope
; SampleFilter class is here: /src/Entity/SampleFilter.php
; You can call multiple filter classes separated by ","
runtime_filters = "SampleFilter"
samplefilter_format = "d M Y H:i:s"

