{{ include('snom-includes.twig') }}<?xml version="1.0" encoding="utf-8"?>
<setting-files>
  <file url="{{ provisioning_url_scheme }}://{{provisioning_url_host}}{{ provisioning_url_path }}{% if tok2 %}{{tok2}}/{% endif %}general.xml"/>
  <file url="{{ provisioning_url_scheme }}://{{provisioning_url_host}}{{ provisioning_url_path }}{% if tok2 %}{{tok2}}/{% endif %}general_custom.xml"/>
</setting-files>
