<<VOIP CONFIG FILE>>Version:2.0002                            
{%- import 'fanvil.macros' as fanvil -%}﻿
<GLOBAL CONFIG MODULE>
WAN Mode           :DHCP
Enable DHCP        :1
Use Vendor Class ID:0
Vendor Class ID    :
DHCP Auto DNS      :1
DHCP Auto Time     :0
RTP Initial Port   :10000
RTP Port Quantity  :200
SNTP Server        :{{ ntp_server ?? 'pool.ntp.org' }}
Second SNTP Server :pool.ntp.org
Enable SNTP        :1
Time Zone          :{{ fanvil.tz_map(timezone, 'offset') }}
Location           :{{ fanvil.tz_map(timezone, 'location') }}
Time Zone Name     :{{ fanvil.tz_map(timezone, 'name') }}
Enable DST         :1
DST Fixed Type     :2
SNTP Timeout       :60
DST Min Offset     :60
DST Start Mon      :3
DST Start Week     :5
DST Start Wday     :0
DST Start Hour     :2
DST End Mon        :10
DST End Week       :5
DST End Wday       :0
DST End Hour       :2
Language           :{{ fanvil.language_code(language) }}
Push XML IP        :
Enable Call History:1
<TELE CONFIG MODULE>
Dial by Pound      :1
BTransfer by Pound :1
Onhook to BXfer    :0
Onhook to AXfer    :1
Memory Key to BXfer:{{ dss_transfer }}
Xfer On Conf Onhook:0
Dial Fixed Length  :0
Fixed Length Nums  :11
Dial by Timeout    :1
Dial Timeout value :10
Accept Any Call    :1
IP Dial Prefix     :.
--Port Config--    :
P1 Mute Ringing    :0
P1 CWaiting Tone   :{{ call_waiting_tone }}
P1 Ban Dial Out    :0
P1 Ban Empty CID   :0
P1 Enable CLIP     :1
P1 CallWaiting     :{{ fanvil.b2v(account_call_waiting_1) }}
P1 CallTransfer    :1
P1 CallSemiXfer    :1
P1 CallConference  :1
P1 AutoAnswer      :0
P1 No Answer Time  :20
P1 Warm Line Time  :0
P1 Hotline Num     :
P1 Auto PickupNext :0
P1 Busy No Line    :1
P1 Auto Onhook     :1
P1 Auto Onhook Time:3
P1 DND Code        :1
P1 Busy Code       :2
P1 Reject Code     :3
P1 Caller Display T:5
P1 Caller Name Type:5
P1 Enable Intercom :1
P1 Intercom Mute   :0
P1 Intercom Tone   :1
P1 Intercom Barge  :1
P1 Use Auto Redial :0
P1 AutoRedial Delay:30
P1 AutoRedial Times:5
P1 Call Complete   :0
P1 Hide DTMF Type  :0
P1 Talk DTMF Tone  :1
P1 Dial DTMF Tone  :1
P1 Psw Dial Mode   :0
P1 Psw Dial Length :0
P1 Psw Dial Prefix :
P1 Enable MultiLine:1
P1 Allow IP Call   :1
P1 CHolding Tone   :1
P1 Number Privacy  :0
P1 Privacy Rule    :.
Transf SDial       :0
Enable Code Plan   :0
<DSP CONFIG MODULE>
Signal Standard    :{{ fanvil.tones_code(tonezone) }}
Ring Type          :{{ ringtone >= 0 and ringtone < 9 ? (ringtone + 1) : 'default' }}
--Port Config--    :
P1 Ring in Headset :0
P1 Auto Headset    :0
P1 Voice Codec1    :PCMU/8000
P1 Voice Codec2    :PCMA/8000
P1 Voice Codec3    :G729/8000
P1 Voice Codec4    :G722/8000
P1 Voice Codec5    :G723/8000
P1 Voice Codec6    :G726-32/8000
<SIP CONFIG MODULE>
SIP  Port          :5060
STUN Server        :
STUN Port          :3478
STUN Refresh Time  :50
SIP Wait Stun Time :800
Extern NAT Addrs   :
Reg Fail Interval  :32
SIP Pswd Encryption:0
Strict BranchPrefix:0
Enable Group Backup:0
Enable RFC4475     :1
SIP invite strict  :1
Notify Reboot      :0
SMS direct Enabled :0
SMS Save Enabled   :1
SMS Ring Enabled   :1
CSTA Enable        :0
Strict UA Match    :0
--SIP Line List--  :
{% for line in range(1, 1) %}
{% if _context['account_username_' ~ line] is defined %}
SIP{{ line }} Phone Number  :{{ _context['account_username_' ~ line] }}
SIP{{ line }} Display Name  :{{ _context['account_display_name_' ~ line] }}
SIP{{ line }} Sip Name      :{{ _context['account_username_' ~ line] }}
SIP{{ line }} Register Addr :{{ _context['account_server_host_' ~ line] }}
SIP{{ line }} Register Port :{{ _context['account_server_port_' ~ line] }}
SIP{{ line }} Register User :{{ _context['account_username_' ~ line] }}
SIP{{ line }} Register Pswd :{{ _context['account_password_' ~ line] }}
SIP{{ line }} Register TTL  :3600
SIP{{ line }} Enable Reg    :{{ fanvil.b2v(_context['account_line_active_' ~ line]) }}
SIP{{ line }} Proxy Addr    :
SIP{{ line }} Proxy Port    :5060
SIP{{ line }} Proxy User    :
SIP{{ line }} Proxy Pswd    :
SIP{{ line }} BakProxy Addr :
SIP{{ line }} BakProxy Port :5060
SIP{{ line }} Enable Failbac:0
SIP{{ line }} Failback Hold :1
SIP{{ line }} Ena RFC5939   :0
SIP{{ line }} Media Crypto  :0
SIP{{ line }} MedCrypto Key :
SIP{{ line }} SRTP Auth-Tag :0
SIP{{ line }} Local Domain  :
SIP{{ line }} FWD Timer     :5
SIP{{ line }} WarmLine Time :0
SIP{{ line }} Ring Type     :{{ ringtone >= 0 and ringtone < 9 ? (ringtone + 1) : 'default' }}
SIP{{ line }} Hotline Num   :
SIP{{ line }} Enable Hotline:0
SIP{{ line }} WarmLine Time :0
SIP{{ line }} Pickup Num    :{{ pickup_group }}
SIP{{ line }} Join Num      :
SIP{{ line }} NAT UDPUpdate :2
SIP{{ line }} UDPUpdate TTL :60
SIP{{ line }} Server Type   :0
SIP{{ line }} User Agent    :
SIP{{ line }} PRACK         :0
SIP{{ line }} Keep AUTH     :0
SIP{{ line }} Session Timer :0
SIP{{ line }} S.Timer Expire:0
SIP{{ line }} Enable GRUU   :0
SIP{{ line }} DTMF Mode     :{{ fanvil.dtmf_map(_context['account_dtmf_type_' ~ line]) }}
SIP{{ line }} DTMF Info Mode:0
SIP{{ line }} NAT Type      :0
SIP{{ line }} Enable Rport  :1
SIP{{ line }} Subscribe     :1
SIP{{ line }} Sub Expire    :3600
SIP{{ line }} Single Codec  :0
SIP{{ line }} CLIR          :0
SIP{{ line }} Strict Proxy  :1
SIP{{ line }} Direct Contact:0
SIP{{ line }} History Info  :0
SIP{{ line }} DNS SRV       :0
SIP{{ line }} DNS Mode      :0
SIP{{ line }} XFER Expire   :0
SIP{{ line }} Ban Anonymous :0
SIP{{ line }} Dial Off Line :0
SIP{{ line }} Quota Name    :0
SIP{{ line }} Presence Mode :0
SIP{{ line }} RFC Ver       :1
SIP{{ line }} Signal Port   :5060
SIP{{ line }} Transport     :0
SIP{{ line }} Enable ChgPort:0
SIP{{ line }} TLS Version   :0
SIP{{ line }} Ena sips URI  :0
SIP{{ line }} Use SRV Mixer :0
SIP{{ line }} SRV Mixer Uri :
SIP{{ line }} Long Contact  :0
SIP{{ line }} Auto TCP      :0
SIP{{ line }} Uri Escaped   :1
SIP{{ line }} Click to Talk :0
SIP{{ line }} MWI Num       :{{ _context['account_voicemail_number_' ~ line] }}
SIP{{ line }} CallPark Num  :70
SIP{{ line }} Retrieve Num  :
SIP{{ line }} MSRPHelp Num  :
SIP{{ line }} User Is Phone :0
SIP{{ line }} Auto Answer   :0
SIP{{ line }} NoAnswerTime  :5
SIP{{ line }} MissedCallLog :1
SIP{{ line }} SvcCode Mode  :1
SIP{{ line }} DNDOn SvcCode :{{ dndon }}
SIP{{ line }} DNDOff SvcCode:{{ dndoff }}
SIP{{ line }} CFUOn SvcCode :{{ cfalwayson }}
SIP{{ line }} CFUOff SvcCode:{{ cfalwaysoff }}
SIP{{ line }} CFBOn SvcCode :{{ cfbusyon }}
SIP{{ line }} CFBOff SvcCode:{{ cfbusyoff }}
SIP{{ line }} CFNOn SvcCode :{{ cftimeouton }}
SIP{{ line }} CFNOff SvcCode:{{ cftimeoutoff }}
SIP{{ line }} ANCOn SvcCode :
SIP{{ line }} ANCOff SvcCode:
SIP{{ line }} Send ANOn Code:
SIP{{ line }} Send ANOffCode:
SIP{{ line }} CW On Code    :{{ call_waiting_on }}
SIP{{ line }} CW Off Code   :{{ call_waiting_off }}
SIP{{ line }} VoiceCodecMap :G711U,G711A,G722,G729,G726-32,G723
SIP{{ line }} BLFList Uri   :
SIP{{ line }} BLF Server    :
SIP{{ line }} Respond 182   :0
SIP{{ line }} Enable BLFList:0
SIP{{ line }} Caller Id Type:5
SIP{{ line }} Syn Clock Time:0
SIP{{ line }} Update Reg Exp:1
SIP{{ line }} Inactive Hold :0
SIP{{ line }} Enable SCA    :0
SIP{{ line }} Sub CallPark  :0
SIP{{ line }} Sub CC Status :0
SIP{{ line }} CSTA Number   :
SIP{{ line }} Feature Sync  :0
SIP{{ line }} Req With Port :0
SIP{{ line }} VQ Name       :
SIP{{ line }} VQ Server     :
SIP{{ line }} VQ Server Port:5060
SIP{{ line }} VQ HTTP Server:
SIP{{ line }} Unreg Reboot  :1
SIP{{ line }} Flash Mode    :0
SIP{{ line }} Use Tel Call  :0
SIP{{ line }} Content Type  :
SIP{{ line }} Content Body  :
SIP{{ line }} Deal 180      :1
SIP{{ line }} Ena MAC Header:0
SIP{{ line }} Ena REG MAC   :0
SIP{{ line }} BLF dialog mat:1
SIP{{ line }} Ptime         :0
{% endif %}
{% endfor %}
<MMI CONFIG MODULE>
Web Port           :80
Web Server Type    :0
Https Web Port     :443
Enable MMI Filter  :0
Web Authentication :0
Default WEB User   :0
--MMI Account--    :
Account1 Name      :admin
Account1 Password  :{{ adminpw }}
Account1 Level     :10
Account2 Name      :guest
Account2 Password  :{{ userpw }}
Account2 Level     :5
<QOS CONFIG MODULE>
Enable VLAN        :{{ voice_vlan_enable }}
Enable diffServ    :0
LLDP Transmit      :1
LLDP Refresh Time  :60
LLDP Learn Policy  :1
CDP Enabled        :0
CDP Refresh Time   :60
Singalling DSCP    :46
Voice DSCP         :46
VLAN ID            :{{ (voice_vlan_id >= 0 and voice_vlan_id < 4096) ? voice_vlan_id : '0' }}
Voice Priority     :{{ (voice_vlan_priority >= 0 and voice_vlan_priority < 8) ? voice_vlan_priority : '0' }}
LAN Port Priority  :{{ (data_vlan_priority >= 0 and data_vlan_priority < 8) ? data_vlan_priority : '0' }}
VLAN Recv Check    :1
Enable PVID        :{{ data_vlan_enable }}
PVID Value         :{{ (data_vlan_id >= 0 and data_vlan_id < 4096) ? data_vlan_id : '0' }}
DHCP Option Vlan   :{{ vlan_dhcp_enable == '1' ? ((vlan_dhcp_option >= 128 and vlan_dhcp_option < 255) ? vlan_dhcp_option : '132') : '0' }}
<PHONE CONFIG MODULE>
Menu Password      :{{ adminpw }}
KeyLock Password   :{{ userpw }}
Fast Keylock Code  :
Enable KeyLock     :0
KeyLock Status     :0
Emergency Call     :{{ fanvil.emergency_map(tonezone) }}
LCD Title          :{{ logo_text ?? 'Fanvil' }}
KeyLock Timeout    :0
Enable Power Led   :0
SMS MWI Power Led  :2
Miss Call Power Led:3
Talk Dial Power Led:1
Ringing Power Led  :3
Mute Call Power Led:2
Hold Power Led     :2
{# some function of time_format #}
Time Display Style :0
FuncKey Page Num   :5
Blf Default type   :0
Disable CHN IME    :0
Disable Dial Search:0
Redial Enter CLog  :1
{# some function of date_format #}
Date Display Style :0
{# some function of date_format #}
Date Separator     :0
Enable Pre-Dial    :1
Default Line       :1
Enable Default Line:1
Enable Auto SelLine:1
--LDAP Config--    :
LDAP1 Title        :{{ fanvil.gettext('Phonebook', language) | slice(0, 31) }}
LDAP1 Server       :{{ ldap_server }}
LDAP1 port         :{{ ldap_port }}
LDAP1 Authenticate :{{ ldap_password ? '3' : '0' }}
LDAP1 Version      :3
LDAP1 Calling Line :1
LDAP1 Enable Search:0
LDAP1 Bind Line    :0
LDAP1 Base         :{{ ldap_base }}
LDAP1 Username     :{{ ldap_user }}
LDAP1 Password     :{{ ldap_password }}
LDAP1 Tel Attr     :{{ ldap_mainphone_number_attr }}
LDAP1 Mobile Attr  :{{ ldap_mobilephone_number_attr }}
LDAP1 Other Attr   :{{ ldap_otherphone_number_attr }}
LDAP1 Displayname  :{{ ldap_name_attr }}
LDAP1 Filter Name  :{{ ldap_name_filter }}
LDAP1 Filter Number:{{ ldap_number_filter }}
--Function Key--   :
{% for number in 1..4 %}
{% if _context['linekey_type_' ~ number] is defined %}
Fkey{{ number }} Type               :{{ fanvil.linekey_map(_context['linekey_type_' ~ number], 'type') }}
Fkey{{ number }} Value              :{{ fanvil.linekey_map(_context['linekey_type_' ~ number], 'value') }}
Fkey{{ number }} Title              :{{ fanvil.linekey_map(_context['linekey_type_' ~ number], 'title') | slice(0, 15) }}
{% endif %}
{% endfor %}
--Soft Dss Key--:
SoftFkey1 Type     :3
SoftFkey1 Value    :F_LDAPCONTACTS:1
SoftFkey1 Title    :{{ fanvil.gettext('Phonebook', language) }}
SoftFkey2 Type     :1
SoftFkey2 Value    :{{ pickup_group }}@1/f
SoftFkey2 Title    :Pickup
{% for number in 1..30 %}
{% if _context['softkey_type_' ~ number] is defined %}
SoftFkey{{ number }} Type           :{{ fanvil.linekey_map(_context['softkey_type_' ~ number], 'type') }}
SoftFkey{{ number }} Value          :{{ fanvil.linekey_map(_context['softkey_type_' ~ number], 'value') }}
SoftFkey{{ number }} Title          :{{ fanvil.linekey_map(_context['softkey_type_' ~ number], 'title') | slice(0, 15) }}
{% endif %}
{% endfor %}
DSS Home Page      :1
<SCREEN KEY CONFIG MODULE>
Desktop Softkey    :{% for number in 1..8 %}
    {{- 'none' ~ ';' -}}
{% endfor %}

Talking Softkey    :hold;xfer;conf;end;
Ringing Softkey    :accept;none;cfwd;reject;
Alerting Softkey   :none;none;none;end;
XAlerting Softkey  :xfer;none;none;end;
Conference Softkey :hold;none;split;end;
Waiting Softkey    :hold;xfer;conf;end;
Ending Softkey     :repeat;none;none;end;
DialerPre Softkey  :delete;save;send;exit;
DialerCall Softkey :delete;history;send;exit;
DialerXfer Softkey :delete;xfer;send;exit;
DialerCfwd Softkey :delete;none;cfwd;exit;
Desktop Click      :history;status;paccout;naccout;menu;
Dailer  Click      :pline;nline;none;none;none;
Call    Click      :pcall;ncall;voldown;volup;none;
Desktop Long Press :status;none;none;sdial;reset;
Softkey Mode       :2
Softkey Exit Style :1
<AUTOUPDATE CONFIG MODULE>
Download Username  :
Download Password  :
AP Pswd Encryption :0
Config File Name   :$mac.cfg
Config File Key    :
Common Cfg File Key:
Download Server IP :{{ provisioning_path }}
Download Protocol  :2
Download Mode      :1
Download Interval  :1
DHCP Option        :{{ dhcp_enable }}
Save DHCP Opion    :0
DHCP Option 120    :0
PNP Enable         :0
PNP IP             :
PNP Port           :5060
PNP Transport      :0
PNP Interval       :1
Save Provision Info:0
Download CommonConf:1
Download DeviceConf:1
Check FailTimes    :5
update PB Interval :720
Clr PB B4 Import   :0
Trust Certification:0
Device Cert Mode   :1
Auto Server Digest :0
Enable Auto Upgrade:1
Upgrade Server 1   :{{ provisioning_type }}://{{ provisioning_path }}
Upgrade Server 2   :
Auto Upgrade intval:72
<<END OF FILE>>
