<?xml version="1.0" encoding="UTF-8" ?>
{% import 'sangoma.macros' as sangoma %}
<hl_provision version="1">
    <config version="1">
        <!--Account1/Basic-->
        <P271 para="Account1.Active">{{ account_line_active_1 ?? '1' }}</P271>
        <P47 para="Account1.Sipserver">{{ account_server_host_1 }}</P47>
        <P967 para="Account1.FailoverSipserver">{{ account_server_host2_1 }}</P967>
        <P8851 para="Account1.SecondFailoverSipserver" />
        <P4567 para="Account1.PreferPrimaryServer">1</P4567>
        <P48 para="Account1.OutboundProxy" />
        <P20047 para="Account1.BackUpOutboundProxy" />
        <P130 para="Account1.SipTransport">{{ account_transport_type_1 == '0' or account_transport_type_1 == '2' or account_transport_type_1 == '3' ? account_transport_type_1 : '0' }}</P130>
        <P52 para="Account1.NatTraversal">2</P52>
        <P20000 para="Account1.Lable">{{ account_display_name_1 }}</P20000>
        <P35 para="Account1.SipUserId">{{ account_username_1 }}</P35>
        <P36 para="Account1.AuthenticateID">{{ account_username_1 }}</P36>
        <P34 para="Account1.AuthenticatePassword" />{{ account_password_1 }}</P34>
        <P3 para="Account1.DispalyName">{{ account_display_name_1 }}</P3>
        <P103 para="Account1.DnsMode">0</P103>
        <P63 para="Account1.UserIdIsPhoneNumber">1</P63>
        <P31 para="Account1.SipRegistration">1</P31>
        <P81 para="Account1.UnregisterOnReboot">1</P81>
        <P32 para="Account1.RegisterExpiration">15</P32>
        <P109 para="Account1.OutCallWithoutReg">1</P109>
        <P40 para="Account1.LocalSipPort">{{ account_server_port_1 > 0 ? account_server_port_1 : '5060' }}</P40>
        <P78 para="Account1.UseRandomPort">0</P78>
        <P33 para="Account1.VoiceMailId">{{ voicemail_number_1 }}</P33>
        <P79 para="Account1.DtmfPayloadType">101</P79>
        <P20166 para="Account1.DtmfMode">{{ sangoma.dtmf(account_dtmf_type_1) }}</P20166>
        <P183 para="Account1.SRtpMode">{{ account_srtp_encryption_1 }}</P183>
        <P104 para="Account1.AccountRingTone">{{ account_default_ringtone_1 }}</P104>
        <P185 para="Account1.RingTimeout">60</P185>
        <P72 para="Account1.Use#AsDialKey">{{ pound ? 1 : 0 }}</P72>
        <P4200 para="Account1.DialPlan">\{[x*]+\}</P4200>
        <P4705 para="Account1.DirectCallPickupCode">{{ pickup_direct }}</P4705>
        <P4706 para="Account1.GroupCallPickupCode">{{ pickup_group }}</P4706>

        <!--Network/Basic-->
        <P8 para="IPv4WanMode">0</P8>
        <P231 para="PcPort">{{ pc_port ?? '1' }}</P231>
        <!--Network/Advance-->
        <!--Network/Advance/LLDP-->
        <P5438 para="Active">1</P5438>
        <P5439 para="PackedInterval">120</P5439>
        <!--Network/Advance/Qos Set -->
        <P38 para="Layer3QoS">48</P38>
        <P51 para="VLAN.WANPort.VID">{{ voice_vlan_id }}</P51>
        <P87 para="VLAN.WANPort.Priority">{{ voice_vlan_priority }}</P87>
        <P229 para="VLAN.PCPort.VID">{{ data_vlan_id }}</P229>
        <!--Network/Advance/NTP Server-->
        <P30 para="UrlOrIpAddress">{{ ntp_server ?: 'pool.ntp.org' }}</P30>
        <P144 para="DHCPOverrideNTP">0</P144>
        <!--Network/Advance/VPN-->
        <!--Network/Advance/Web Server-->
        <P901 para="HTTPPort">80</P901>
        <P8724 para="HTTPSPort">443</P8724>
        <P8725 para="Type">1</P8725>
        <!--Network/Advance/802.1X-->
        <P8626 para="802.1XMode">0</P8626>
        <P8627 para="Identity" />
        <P8628 para="MD5Password" />
        <!--Network/Advance/Others-->
        <P76 para="STUN Server" />
        <P84 para="KeepAtiveInterval">20</P84>
        <P8684 para="DhcpVlan">{{ vlan_dhcp_enable }}</P8684>
        <!--FunctionKeys-->
        <!--FunctionKeys/LineKey1-->
        <P41200 para="LineKey1.Type">{{ linekey_type_1 }}</P41200>
        <P20600 para="LineKey1.Mode">0</P20600>
        <P41300 para="LineKey1.Value">{{ linekey_value_1 }}</P41300>
        <P41400 para="LineKey1.Label">{{ linekey_label_1 }}</P41400>
        <P41500 para="LineKey1.Account">{{ linekey_line_1 }}</P41500>
        <P41600 para="LineKey1.PickupCode">{{ pickup_direct }}</P41600>
        <P41201 para="LineKey2.Type">{{ linekey_type_2 }}</P41201>
        <P20601 para="LineKey2.Mode">0</P20601>
        <P41301 para="LineKey2.Value">{{ linekey_value_2 }}</P41301>
        <P41401 para="LineKey2.Label">{{ linekey_label_2 }}</P41401>
        <P41501 para="LineKey2.Account">{{ linekey_line_2 }}</P41501>
        <P41601 para="LineKey2.PickupCode">{{ pickup_direct }}</P41601>
        <P41202 para="LineKey3.Type">{{ linekey_type_3 }}</P41202>
        <P20602 para="LineKey3.Mode">0</P20602>
        <P41302 para="LineKey3.Value">{{ linekey_value_3 }}</P41302>
        <P41402 para="LineKey3.Label">{{ linekey_label_3 }}</P41402>
        <P41502 para="LineKey3.Account">{{ linekey_line_3 }}</P41502>
        <P41602 para="LineKey3.PickupCode">{{ pickup_direct }}</P41602>
        <P41203 para="LineKey4.Type">{{ linekey_type_4 }}</P41203>
        <P20603 para="LineKey4.Mode">0</P20603>
        <P41303 para="LineKey4.Value">{{ linekey_value_4 }}</P41303>
        <P41403 para="LineKey4.Label">{{ linekey_label_4 }}</P41403>
        <P41503 para="LineKey4.Account">{{ linekey_line_4 }}</P41503>
        <P41603 para="LineKey4.PickupCode">{{ pickup_direct }}</P41603>
        <P20200 para="LineKey5.Type">{{ linekey_type_5 }}</P20200>
        <P20604 para="LineKey5.Mode">0</P20604>
        <P20201 para="LineKey5.Value">{{ linekey_value_5 }}</P20201>
        <P20202 para="LineKey5.Label">{{ linekey_label_5 }}</P20202>
        <P20203 para="LineKey5.Account">{{ linekey_line_5 }}</P20203>
        <P20204 para="LineKey5.PickupCode">{{ pickup_direct }}</P20204>
        <P20205 para="LineKey6.Type">{{ linekey_type_6 }}</P20205>
        <P20605 para="LineKey6.Mode">0</P20605>
        <P20206 para="LineKey6.Value">{{ linekey_value_6 }}</P20206>
        <P20207 para="LineKey6.Label">{{ linekey_label_6 }}</P20207>
        <P20208 para="LineKey6.Account">{{ linekey_line_6 }}</P20208>
        <P20209 para="LineKey6.PickupCode">{{ pickup_direct }}</P20209>
        <P20210 para="LineKey7.Type">{{ linekey_type_7 }}</P20210>
        <P20606 para="LineKey7.Mode">0</P20606>
        <P20211 para="LineKey7.Value">{{ linekey_value_7 }}</P20211>
        <P20212 para="LineKey7.Label">{{ linekey_label_7 }}</P20212>
        <P20213 para="LineKey7.Account">{{ linekey_line_7 }}</P20213>
        <P20214 para="LineKey7.PickupCode">{{ pickup_direct }}</P20214>
        <P20215 para="LineKey8.Type">{{ linekey_type_8 }}</P20215>
        <P20607 para="LineKey8.Mode">0</P20607>
        <P20216 para="LineKey8.Value">{{ linekey_value_8 }}</P20216>
        <P20217 para="LineKey8.Label">{{ linekey_label_8 }}</P20217>
        <P20218 para="LineKey8.Account">{{ linekey_line_8 }}</P20218>
        <P20219 para="LineKey8.PickupCode">{{ pickup_direct }}</P20219>
        <P20220 para="LineKey9.Type">{{ linekey_type_9 }}</P20220>
        <P20608 para="LineKey9.Mode">0</P20608>
        <P20221 para="LineKey9.Value">{{ linekey_value_9 }}</P20221>
        <P20222 para="LineKey9.Label">{{ linekey_label_9 }}</P20222>
        <P20223 para="LineKey9.Account">{{ linekey_line_9 }}</P20223>
        <P20224 para="LineKey9.PickupCode">{{ pickup_direct }}</P20224>
        <P20225 para="LineKey10.Type">{{ linekey_type_10 }}</P20225>
        <P20609 para="LineKey10.Mode">0</P20609>
        <P20226 para="LineKey10.Value">{{ linekey_value_10 }}</P20226>
        <P20227 para="LineKey10.Label">{{ linekey_label_10 }}</P20227>
        <P20228 para="LineKey10.Account">{{ linekey_line_10 }}</P20228>
        <P20229 para="LineKey10.PickupCode">{{ pickup_direct }}</P20229>
        <P20230 para="LineKey11.Type">{{ linekey_type_11 }}</P20230>
        <P20610 para="LineKey11.Mode">0</P20610>
        <P20231 para="LineKey11.Value">{{ linekey_value_11 }}</P20231>
        <P20232 para="LineKey11.Label">{{ linekey_label_11 }}</P20232>
        <P20233 para="LineKey11.Account">{{ linekey_line_11 }}</P20233>
        <P20234 para="LineKey11.PickupCode">{{ pickup_direct }}</P20234>
        <P20235 para="LineKey12.Type">{{ linekey_type_12 }}</P20235>
        <P20611 para="LineKey12.Mode">0</P20611>
        <P20236 para="LineKey12.Value">{{ linekey_value_12 }}</P20236>
        <P20237 para="LineKey12.Label">{{ linekey_label_12 }}</P20237>
        <P20238 para="LineKey12.Account">{{ linekey_line_12 }}</P20238>
        <P20239 para="LineKey12.PickupCode">{{ pickup_direct }}</P20239>
        <P20240 para="LineKey13.Type">{{ linekey_type_13 }}</P20240>
        <P20612 para="LineKey13.Mode">0</P20612>
        <P20241 para="LineKey13.Value">{{ linekey_value_13 }}</P20241>
        <P20242 para="LineKey13.Label">{{ linekey_label_13 }}</P20242>
        <P20243 para="LineKey13.Account">{{ linekey_line_13 }}</P20243>
        <P20244 para="LineKey13.PickupCode">{{ pickup_direct }}</P20244>
        <P20245 para="LineKey14.Type">{{ linekey_type_14 }}</P20245>
        <P20613 para="LineKey14.Mode">0</P20613>
        <P20246 para="LineKey14.Value">{{ linekey_value_14 }}</P20246>
        <P20247 para="LineKey14.Label">{{ linekey_label_14 }}</P20247>
        <P20248 para="LineKey14.Account">{{ linekey_line_14 }}</P20248>
        <P20249 para="LineKey14.PickupCode">{{ pickup_direct }}</P20249>
        <P20250 para="LineKey15.Type">{{ linekey_type_15 }}</P20250>
        <P20614 para="LineKey15.Mode">0</P20614>
        <P20251 para="LineKey15.Value">{{ linekey_value_15 }}</P20251>
        <P20252 para="LineKey15.Label">{{ linekey_label_15 }}</P20252>
        <P20253 para="LineKey15.Account">{{ linekey_line_15 }}</P20253>
        <P20254 para="LineKey15.PickupCode">{{ pickup_direct }}</P20254>
        <P20255 para="LineKey16.Type">{{ linekey_type_16 }}</P20255>
        <P20615 para="LineKey16.Mode">0</P20615>
        <P20256 para="LineKey16.Value">{{ linekey_value_16 }}</P20256>
        <P20257 para="LineKey16.Label">{{ linekey_label_16 }}</P20257>
        <P20258 para="LineKey16.Account">{{ linekey_line_16 }}</P20258>
        <P20259 para="LineKey16.PickupCode">{{ pickup_direct }}</P20259>
        <P20260 para="LineKey17.Type">{{ linekey_type_17 }}</P20260>
        <P20616 para="LineKey17.Mode">0</P20616>
        <P20261 para="LineKey17.Value">{{ linekey_value_17 }}</P20261>
        <P20262 para="LineKey17.Label">{{ linekey_label_17 }}</P20262>
        <P20263 para="LineKey17.Account">{{ linekey_line_17 }}</P20263>
        <P20264 para="LineKey17.PickupCode">{{ pickup_direct }}</P20264>
        <P20265 para="LineKey18.Type">{{ linekey_type_18 }}</P20265>
        <P20617 para="LineKey18.Mode">0</P20617>
        <P20266 para="LineKey18.Value">{{ linekey_value_18 }}</P20266>
        <P20267 para="LineKey18.Label">{{ linekey_label_18 }}</P20267>
        <P20268 para="LineKey18.Account">{{ linekey_line_18 }}</P20268>
        <P20269 para="LineKey18.PickupCode">{{ pickup_direct }}</P20269>
        <P20270 para="LineKey19.Type">{{ linekey_type_19 }}</P20270>
        <P20618 para="LineKey19.Mode">0</P20618>
        <P20271 para="LineKey19.Value">{{ linekey_value_19 }}</P20271>
        <P20272 para="LineKey19.Label">{{ linekey_label_19 }}</P20272>
        <P20273 para="LineKey19.Account">{{ linekey_line_19 }}</P20273>
        <P20274 para="LineKey19.PickupCode">{{ pickup_direct }}</P20274>
        <P20275 para="LineKey20.Type">{{ linekey_type_20 }}</P20275>
        <P20619 para="LineKey20.Mode">0</P20619>
        <P20276 para="LineKey20.Value">{{ linekey_value_20 }}</P20276>
        <P20277 para="LineKey20.Label">{{ linekey_label_20 }}</P20277>
        <P20278 para="LineKey20.Account">{{ linekey_line_20 }}</P20278>
        <P20279 para="LineKey20.PickupCode">{{ pickup_direct }}</P20279>
        <P20280 para="LineKey21.Type">{{ linekey_type_21 }}</P20280>
        <P20620 para="LineKey21.Mode">0</P20620>
        <P20281 para="LineKey21.Value">{{ linekey_value_21 }}</P20281>
        <P20282 para="LineKey21.Label">{{ linekey_label_21 }}</P20282>
        <P20283 para="LineKey21.Account">{{ linekey_line_21 }}</P20283>
        <P20284 para="LineKey21.PickupCode">{{ pickup_direct }}</P20284>
        <P20285 para="LineKey22.Type">{{ linekey_type_22 }}</P20285>
        <P20621 para="LineKey22.Mode">0</P20621>
        <P20286 para="LineKey22.Value">{{ linekey_value_22 }}</P20286>
        <P20287 para="LineKey22.Label">{{ linekey_label_22 }}</P20287>
        <P20288 para="LineKey22.Account">{{ linekey_line_22 }}</P20288>
        <P20289 para="LineKey22.PickupCode">{{ pickup_direct }}</P20289>
        <P20290 para="LineKey23.Type">{{ linekey_type_23 }}</P20290>
        <P20622 para="LineKey23.Mode">0</P20622>
        <P20291 para="LineKey23.Value">{{ linekey_value_23 }}</P20291>
        <P20292 para="LineKey23.Label">{{ linekey_label_23 }}</P20292>
        <P20293 para="LineKey23.Account">{{ linekey_line_23 }}</P20293>
        <P20294 para="LineKey23.PickupCode">{{ pickup_direct }}</P20294>
        <P20295 para="LineKey24.Type">{{ linekey_type_24 }}</P20295>
        <P20623 para="LineKey24.Mode">0</P20623>
        <P20296 para="LineKey24.Value">{{ linekey_value_24 }}</P20296>
        <P20297 para="LineKey24.Label">{{ linekey_label_24 }}</P20297>
        <P20298 para="LineKey24.Account">{{ linekey_line_24 }}</P20298>
        <P20299 para="LineKey24.PickupCode">{{ pickup_direct }}</P20299>
        <P20300 para="LineKey25.Type">{{ linekey_type_25 }}</P20300>
        <P20624 para="LineKey25.Mode">0</P20624>
        <P20301 para="LineKey25.Value">{{ linekey_value_25 }}</P20301>
        <P20302 para="LineKey25.Label">{{ linekey_label_25 }}</P20302>
        <P20303 para="LineKey25.Account">{{ linekey_line_25 }}</P20303>
        <P20304 para="LineKey25.PickupCode">{{ pickup_direct }}</P20304>
        <P20305 para="LineKey26.Type">{{ linekey_type_26 }}</P20305>
        <P20625 para="LineKey26.Mode">0</P20625>
        <P20306 para="LineKey26.Value">{{ linekey_value_26 }}</P20306>
        <P20307 para="LineKey26.Label">{{ linekey_label_26 }}</P20307>
        <P20308 para="LineKey26.Account">{{ linekey_line_26 }}</P20308>
        <P20309 para="LineKey26.PickupCode">{{ pickup_direct }}</P20309>
        <P20310 para="LineKey27.Type">{{ linekey_type_27 }}</P20310>
        <P20626 para="LineKey27.Mode">0</P20626>
        <P20311 para="LineKey27.Value">{{ linekey_value_27 }}</P20311>
        <P20312 para="LineKey27.Label">{{ linekey_label_27 }}</P20312>
        <P20313 para="LineKey27.Account">{{ linekey_line_27 }}</P20313>
        <P20314 para="LineKey27.PickupCode">{{ pickup_direct }}</P20314>
        <P20315 para="LineKey28.Type">{{ linekey_type_28 }}</P20315>
        <P20627 para="LineKey28.Mode">0</P20627>
        <P20316 para="LineKey28.Value">{{ linekey_value_28 }}</P20316>
        <P20317 para="LineKey28.Label">{{ linekey_label_28 }}</P20317>
        <P20318 para="LineKey28.Account">{{ linekey_line_28 }}</P20318>
        <P20319 para="LineKey28.PickupCode">{{ pickup_direct }}</P20319>
        <P20320 para="LineKey29.Type">{{ linekey_type_29 }}</P20320>
        <P20628 para="LineKey29.Mode">0</P20628>
        <P20321 para="LineKey29.Value">{{ linekey_value_29 }}</P20321>
        <P20322 para="LineKey29.Label">{{ linekey_label_29 }}</P20322>
        <P20323 para="LineKey29.Account">{{ linekey_line_29 }}</P20323>
        <P20324 para="LineKey29.PickupCode">{{ pickup_direct }}</P20324>
        <P20325 para="LineKey30.Type">{{ linekey_type_30 }}</P20325>
        <P20629 para="LineKey30.Mode">0</P20629>
        <P20326 para="LineKey30.Value">{{ linekey_value_30 }}</P20326>
        <P20327 para="LineKey30.Label">{{ linekey_label_30 }}</P20327>
        <P20328 para="LineKey30.Account">{{ linekey_line_30 }}</P20328>
        <P20329 para="LineKey30.PickupCode">{{ pickup_direct }}</P20329>
        <P20330 para="LineKey31.Type">{{ linekey_type_31 }}</P20330>
        <P20630 para="LineKey31.Mode">0</P20630>
        <P20331 para="LineKey31.Value">{{ linekey_value_31 }}</P20331>
        <P20332 para="LineKey31.Label">{{ linekey_label_31 }}</P20332>
        <P20333 para="LineKey31.Account">{{ linekey_line_31 }}</P20333>
        <P20334 para="LineKey31.PickupCode">{{ pickup_direct }}</P20334>
        <P20335 para="LineKey32.Type">{{ linekey_type_32 }}</P20335>
        <P20631 para="LineKey32.Mode">0</P20631>
        <P20336 para="LineKey32.Value">{{ linekey_value_32 }}</P20336>
        <P20337 para="LineKey32.Label">{{ linekey_label_32 }}</P20337>
        <P20338 para="LineKey32.Account">{{ linekey_line_32 }}</P20338>
        <P20339 para="LineKey32.PickupCode">{{ pickup_direct }}</P20339>
        <P20340 para="LineKey33.Type">{{ linekey_type_33 }}</P20340>
        <P20632 para="LineKey33.Mode">0</P20632>
        <P20341 para="LineKey33.Value">{{ linekey_value_33 }}</P20341>
        <P20342 para="LineKey33.Label">{{ linekey_label_33 }}</P20342>
        <P20343 para="LineKey33.Account">{{ linekey_line_33 }}</P20343>
        <P20344 para="LineKey33.PickupCode">{{ pickup_direct }}</P20344>
        <P20345 para="LineKey34.Type">{{ linekey_type_34 }}</P20345>
        <P20633 para="LineKey34.Mode">0</P20633>
        <P20346 para="LineKey34.Value">{{ linekey_value_34 }}</P20346>
        <P20347 para="LineKey34.Label">{{ linekey_label_34 }}</P20347>
        <P20348 para="LineKey34.Account">{{ linekey_line_34 }}</P20348>
        <P20349 para="LineKey34.PickupCode">{{ pickup_direct }}</P20349>
        <P20350 para="LineKey35.Type">{{ linekey_type_35 }}</P20350>
        <P20634 para="LineKey35.Mode">0</P20634>
        <P20351 para="LineKey35.Value">{{ linekey_value_35 }}</P20351>
        <P20352 para="LineKey35.Label">{{ linekey_label_35 }}</P20352>
        <P20353 para="LineKey35.Account">{{ linekey_line_35 }}</P20353>
        <P20354 para="LineKey35.PickupCode">{{ pickup_direct }}</P20354>
        <P20355 para="LineKey36.Type">{{ linekey_type_36 }}</P20355>
        <P20635 para="LineKey36.Mode">0</P20635>
        <P20356 para="LineKey36.Value">{{ linekey_value_36 }}</P20356>
        <P20357 para="LineKey36.Label">{{ linekey_label_36 }}</P20357>
        <P20358 para="LineKey36.Account">{{ linekey_line_36 }}</P20358>
        <P20359 para="LineKey36.PickupCode">{{ pickup_direct }}</P20359>
        <P23000 para="LineKey37.Type">{{ linekey_type_37 }}</P23000>
        <P23001 para="LineKey37.Mode">0</P23001>
        <P23002 para="LineKey37.Value">{{ linekey_value_37 }}</P23002>
        <P23003 para="LineKey37.Label">{{ linekey_label_37 }}</P23003>
        <P23004 para="LineKey37.Account">{{ linekey_line_37 }}</P23004>
        <P23005 para="LineKey37.PickupCode">{{ pickup_direct }}</P23005>
        <P23006 para="LineKey38.Type">{{ linekey_type_38 }}</P23006>
        <P23007 para="LineKey38.Mode">0</P23007>
        <P23008 para="LineKey38.Value">{{ linekey_value_38 }}</P23008>
        <P23009 para="LineKey38.Label">{{ linekey_label_38 }}</P23009>
        <P23010 para="LineKey38.Account">{{ linekey_line_38 }}</P23010>
        <P23011 para="LineKey38.PickupCode">{{ pickup_direct }}</P23011>
        <P23012 para="LineKey39.Type">{{ linekey_type_37 }}</P23012>
        <P23013 para="LineKey39.Mode">0</P23013>
        <P23014 para="LineKey39.Value">{{ linekey_value_37 }}</P23014>
        <P23015 para="LineKey39.Label">{{ linekey_label_37 }}</P23015>
        <P23016 para="LineKey39.Account">{{ linekey_line_37 }}</P23016>
        <P23017 para="LineKey39.PickupCode">{{ pickup_direct }}</P23017>
        <P23018 para="LineKey40.Type">{{ linekey_type_40 }}</P23018>
        <P23019 para="LineKey40.Mode">0</P23019>
        <P23020 para="LineKey40.Value">{{ linekey_value_40 }}</P23020>
        <P23021 para="LineKey40.Label">{{ linekey_label_40 }}</P23021>
        <P23022 para="LineKey40.Account">{{ linekey_line_40 }}</P23022>
        <P23023 para="LineKey40.PickupCode">{{ pickup_direct }}</P23023>
        <P23024 para="LineKey41.Type">{{ linekey_type_41 }}</P23024>
        <P23025 para="LineKey41.Mode">0</P23025>
        <P23026 para="LineKey41.Value">{{ linekey_value_41 }}</P23026>
        <P23027 para="LineKey41.Label">{{ linekey_label_41 }}</P23027>
        <P23028 para="LineKey41.Account">{{ linekey_line_41 }}</P23028>
        <P23029 para="LineKey41.PickupCode">{{ pickup_direct }}</P23029>
        <P23030 para="LineKey42.Type">{{ linekey_type_42 }}</P23030>
        <P23031 para="LineKey42.Mode">0</P23031>
        <P23032 para="LineKey42.Value">{{ linekey_value_42 }}</P23032>
        <P23033 para="LineKey42.Label">{{ linekey_label_42 }}</P23033>
        <P23034 para="LineKey42.Account">{{ linekey_line_42 }}</P23034>
        <P23035 para="LineKey42.PickupCode">{{ pickup_direct }}</P23035>
        <P23036 para="LineKey43.Type">{{ linekey_type_43 }}</P23036>
        <P23037 para="LineKey43.Mode">0</P23037>
        <P23038 para="LineKey43.Value">{{ linekey_value_43 }}</P23038>
        <P23039 para="LineKey43.Label">{{ linekey_label_43 }}</P23039>
        <P23040 para="LineKey43.Account">{{ linekey_line_43 }}</P23040>
        <P23041 para="LineKey43.PickupCode">{{ pickup_direct }}</P23041>
        <P23042 para="LineKey44.Type">{{ linekey_type_44 }}</P23042>
        <P23043 para="LineKey44.Mode">0</P23043>
        <P23044 para="LineKey44.Value">{{ linekey_value_44 }}</P23044>
        <P23045 para="LineKey44.Label">{{ linekey_label_44 }}</P23045>
        <P23046 para="LineKey44.Account">{{ linekey_line_44 }}</P23046>
        <P23047 para="LineKey44.PickupCode">{{ pickup_direct }}</P23047>
        <P23048 para="LineKey45.Type">{{ linekey_type_45 }}</P23048>
        <P23049 para="LineKey45.Mode">0</P23049>
        <P23050 para="LineKey45.Value">{{ linekey_value_45 }}</P23050>
        <P23051 para="LineKey45.Label">{{ linekey_label_45 }}</P23051>
        <P23052 para="LineKey45.Account">{{ linekey_line_45 }}</P23052>
        <P23053 para="LineKey45.PickupCode">{{ pickup_direct }}</P23053>

        <!--FunctionKeys/ProgrammableKey-->
        <P43200 para="SoftKey1.Type">{{ softkey_type_1 }}</P43200>
        <P43300 para="SoftKey1.Account">0</P43300>
        <P43400 para="SoftKey1.Value">{{ softkey_value_1 }}</P43400>
        <P20043 para="ProgrammableKey1.Label">{{ softkey_label_1 }}</P20043>
        <P43201 para="SoftKey2.Type">{{ softkey_type_2 }}</P43201>
        <P43301 para="SoftKey2.Account">0</P43301>
        <P43401 para="SoftKey2.Value">{{ softkey_value_2 }}</P43401>
        <P20044 para="ProgrammableKey2.Label">{{ softkey_label_2 }}</P20044>
        <P43202 para="SoftKey3.Type">{{ softkey_type_3 }}</P43202>
        <P43302 para="SoftKey3.Account">0</P43302>
        <P43402 para="SoftKey3.Value">{{ softkey_value_3 }}</P43402>
        <P20045 para="ProgrammableKey3.Label">{{ softkey_label_3 }}</P20045>
        <P43203 para="SoftKey4.Type">{{ softkey_type_4 }}</P43203>
        <P43303 para="SoftKey4.Account">0</P43303>
        <P43403 para="SoftKey4.Value">{{ softkey_value_4 }}</P43403>
        <P20046 para="ProgrammableKey4.Label">{{ softkey_label_4 }}</P20046>

        <!--Setting-->
        <!--Setting/Preference-->
        <P2525 para="Preference.WebLanguage">{{ sangoma.language(language) }}</P2525>
        <P64 para="Preference.TimeZone">{{ sangoma.timezone(timezone) }}</P64>
        <P143 para="Preference.DHCPTime">0</P143>
        <P75 para="Preference.DaylightSavingTime">2</P75>
        <P23117 para="Preference.DaylightSavingTimeType">0</P23117>
        <P23118 para="Preference.DSTStartWeekMonth">3</P23118>
        <P23119 para="Preference.DSTStartWeeknum">5</P23119>
        <P23120 para="Preference.DSTStartWeekday">0</P23120>
        <P23121 para="Preference.DSTStartWeekhour">2</P23121>
        <P23122 para="Preference.DSTEndWeekMonth">10</P23122>
        <P23123 para="Preference.DSTEndWeeknum">5</P23123>
        <P23124 para="Preference.DSTEndWeekday">0</P23124>
        <P23125 para="Preference.DSTEndWeekhour">3</P23125>
        <P102 para="Preference.DateDisplayFormat">{{ sangoma.date_format(date_format) }}</P102>
        <P8624 para="Preference.TimeFormat">{{ time_format == 1 ? '0' : '1' }}</P8624>
        <P8683 para="Preference.BacklightTime">{{ backlight_time }}</P8683>
        <P8940 para="Preference.ScreenTimeOut">{{ sangoma.screensaver_wait_time(screensaver_wait_time) }}</P8940>
        <P8950 para="Preference.ScreenSaverType">{{ screensaver_mode ?? 1 }}</P8950>
        <P8721 para="Preference.RingTones">{{ default_ringtone }}</P8721>
        <P85 para="Preference.NoKeyEntryTimeout">3</P85>
        <P8672 para="Preference.IncomingCallShowMode">1</P8672>
        <P8680 para="Preference.WatchDogEnable">1</P8680>
        <P2532 para="Preference.DisplayMode">0</P2532>
        <P8660 para="Preference.WallPaper">{{ wallpaper }}</P8660>
        <P20018 para="Preference.DialFirstDigit">1</P20018>
        <P8621 para="Preference.LcdLanguage">{{ sangoma.language(language) }}</P8621>
        <P56203 para="Preference.BusyToneTimer">4</P56203>
        <P23263 para="Preference.LogoLED">{{ lcd_logo_mode }}</P23263>
        <!--Setting/Features-->
        <P53100 para="ForwardAlways.OnOff">{{ always_fwd_enable_1 }}</P53100>
        <P53101 para="ForwardAlways.Target" >{{ always_fwd_target_1 }}</P53101>
        <P53102 para="ForwardAlways.OnCode">{{ cfalwayson }}</P53102>
        <P53103 para="ForwardAlways.OffCode">{{ cfalwaysoff }}</P53103>
        <P53110 para="ForwardBusy.OnOff">{{ busy_fwd_enable_1 }}</P53110>
        <P53111 para="ForwardBusy.Target" >{{ busy_fwd_target_1 }}</P53111>
        <P53112 para="ForwardBusy.OnCode">{{ cfbusyon }}</P53112>
        <P53113 para="ForwardBusy.OffCode">{{ cfbusyoff }}</P53113>
        <P53120 para="ForwardNoAnswer.OnOff">{{ timeout_fwd_enable_1 }}</P53120>
        <P53124 para="ForwardNoAnswer.AfterRingTime">{{ cftimeout }}</P53124>
        <P53121 para="ForwardNoAnswer.Target" >{{ timeout_fwd_target_1 }}</P53121>
        <P53122 para="ForwardNoAnswer.OnCode">{{ cftimeouton }}</P53122>
        <P53123 para="ForwardNoAnswer.OffCode">{{ cftimeoutoff }}</P53123>
        <P53200 para="DND.OnCode">{{ dndon }}</P53200>
        <P53201 para="DND.OffCode">{{ dndoff }}</P53201>
        <P53202 para="DND.AuthNum" />

        <P3201 para="Transfer.BlindTransferOnHook">1</P3201>
        <P3202 para="Transfer.Semi-AttendedTransfer">1</P3202>
        <P3204 para="Transfer.AttendedTransferOnHook">1</P3204>
        <P3205 para="Transfer.TransferModeviaDSSkey">{{ dss_transfer }}</P3205>
        <P3207 para="Transfer.HoldTransferOnHook">0</P3207>
        <P4701 para="CallPickup.DirectCallPickup">1</P4701>
        <P4745 para="CallPickup.DirectCallPickupCode">{{ pickup_direct }}</P4745>
        <P4702 para="CallPickup.GroupCallPickup">1</P4702>
        <P4746 para="CallPickup.GroupCallPickupCode">{{ pickup_group }}</P4746>
        <P4703 para="CallPickup.VisualAlertForBLFPickup">0</P4703>
        <P4704 para="CallPickup.AudioAlertForBLFPickup">0</P4704>

        <P8849 para="CallWaiting.OnOff">{{ call_waiting }}</P8849>
        <P8850 para="CallWaiting.Tone">{{ call_waiting_tone }}</P8850>
        <P56204 para="AutoRedial.OnOff">{{ auto_redial }}</P56204>
        <P56205 para="AutoRedial.Interval">3</P56205>
        <P56206 para="AutoRedial.Times">3</P56206>

        <!--Directory/LDAP-->
        <P5430 para="LDAP.NameFilter">{{ ldap_name_filter }}</P5430>
        <P5431 para="LDAP.NumberFilter">{{ ldap_number_filter }}</P5431>
        <P5432 para="LDAP.ServerAddress">{{ ldap_server }}</P5432>
        <P5433 para="LDAP.Port">{{ ldap_port }}</P5433>
        <P5434 para="LDAP.Base">{{ ldap_base }}</P5434>
        <P5435 para="LDAP.UserName">{{ ldap_user }}</P5435>
        <P5436 para="LDAP.Password">{{ ldap_password }}</P5436>
        <P5437 para="LDAP.Max.Hits">50</P5437>
        <P5440 para="LDAP.DisplayName">{{ ldap_name_display }}</P5440>
        <P23136 para="Directory.LDAPNameAttributes">{{ ldap_name_attr }}</P23136>
        <P23137 para="Directory.LDAPNumberAttributes">{{ ldap_number_attr }}</P23137>
        <P5442 para="LDAP.SearchDelay">200</P5442>
        <P5441 para="LDAP.Protocol">1</P5441>
        <P5443 para="LDAP.LookupForIncomingCall">0</P5443>
        <P5444 para="LDAP.SortingResults">1</P5444>

        <!--Management-->
        <!--Management/PassWord-->
        <P8681 para="LogUser.Admin">admin</P8681>
        <P8682 para="LogUser.User">user</P8682>
        <P2 para="AdminPassword" >{{ adminpw ?: 'admin' }}</P2>
        <P196 para="UserPassword" >{{ userpw ?: '1234' }}</P196>
        <!--Management/AutoProvision-->
        <P212 para="FirmwareUpGrade.UrgrateMode">{{ provisioning_url_scheme == 'https' ? '3' : '1' }}</P212>
        <P192 para="FirmwareUpGrade.FirmwareServerPath">{{ "#{provisioning_url_scheme}://#{provisioning_url_host}#{provisioning_url_path}#{tok2}" }}</P192>
        <P237 para="FirmwareUpGrade.ConfigServerPath">{{ "#{provisioning_url_scheme}://#{provisioning_url_host}#{provisioning_url_path}#{tok2}" }}</P237>
        <P1145 para="FirmwareUpGrade.AllowDHCPOption">66</P1145>
        <P145 para="FirmwareUpGrade.ToOverrideServer">{{ provisioning_complete ? '0' : '1' }}</P145>
        <P194 para="FirmwareUpGrade.AutoUpgrade">{{ provisioning_complete ? '0' : '1' }}</P194>
        <P193 para="FirmwareUpGrade.CheckUpgradeTimes">{{ provisioning_complete ? sangoma.upgrade_wait_minutes(timezone) : '1' }}</P193>

        <!--Global Config-->
        <P8951 para="GlobalConfig.LogoText">{{ logo_text }}</P8951>

        <!--Add Config for Expansion 1-->
        {% set k = 60000 %}
        {% set module = 1 %}
        {% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
        <P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
        <P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
        <P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
        <P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
        <P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Expansion 2-->
        {% set k = 61000 %}
        {% set module = 1 %}
        {% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
        <P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
        <P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
        <P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
        <P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
        <P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Expansion 3-->
        {% set k = 62000 %}
        {% set module = 1 %}
        {% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
        <P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
        <P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
        <P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
        <P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
        <P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Expansion 4-->
        {% set k = 63000 %}
        {% set module = 1 %}
        {% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
        <P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
        <P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
        <P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
        <P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
        <P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Expansion 5-->
        {% set k = 64000 %}
        {% set module = 1 %}
        {% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
        <P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
        <P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
        <P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
        <P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
        <P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Expansion 6-->
        {% set k = 65000 %}
        {% set module = 1 %}
        {% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
        <P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
        <P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
        <P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
        <P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
        <P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}

        <P20058 para="ToneSelectCountry">{{ sangoma.tonezone(tonezone) }}</P20058>

        <P20165 para="FirmwareUpGrade.PnPActive">0</P20165>
        <P20172 para="Preference.VmTransfer">0</P20172>
        <P20173 para="Preference.VmTransferCode" />
        <P20174 para="FirmwareUpGrade.RingUrl" />{{ ringtone_url }}</P20174>
        <P20051 para="FirmwareUpGrade.ScreensaverServerURL">{{ screesaver_url }}</P20051>
        <P20052 para="FirmwareUpGrade.WallpaperServerURL">{{ wallpaper_url }}</P20052>
        <P40002 para="FirmwareUpGrade.ExpServer" />{{ firmware_url }}</P40002>

        <P20642 para="Preference.InactiveLevel">{{ inactive_backlight_level }}</P20642>
        <P20643 para="Preference.ActiveLevel">{{ active_backlight_level }}</P20643>

        <P24053 para="VLAN.WANPort.Active">{{ voice_vlan_enable }}</P24053>
        <P24054 para="VLAN.PCPort.Active">{{ data_vlan_enable }}</P24054>
        <P23130 para="VLAN.VoiceQos">46</P23130>
        <P23129 para="VLAN.SipQos">26</P23129>

    </config>
</hl_provision>
