<?xml version="1.0" encoding="UTF-8" ?>
<hl_provision version="1">
    <config version="1">
        <!--Account1/Basic-->
        <P271 para="Account1.Active">{{ _context['line_active_1]|default }}</P271>
        <P47 para="Account1.Sipserver">{{ _context['server_host_1]|default }}</P47>
	<P967 para="Account1.FailoverSipserver" />{{ _context['server_host2_1]|default }}</P967>
        <P8851 para="Account1.SecondFailoverSipserver" />
        <P4567 para="Account1.PreferPrimaryServer">1</P4567>
        <P48 para="Account1.OutboundProxy" />
        <P20047 para="Account1.BackUpOutboundProxy" />
        <P130 para="Account1.SipTransport">{{ _context['transport_type_1]|default }}</P130>
        <P52 para="Account1.NatTraversal">2</P52>
        <P20000 para="Account1.Lable">{{ _context['displayname_1]|default }}</P20000>
        <P35 para="Account1.SipUserId">{{ _context['username_1]|default }}</P35>
        <P36 para="Account1.AuthenticateID">{{ _context['username_1]|default }}</P36>
	<P34 para="Account1.AuthenticatePassword" />{{ _context['secret_1]|default }}</P34>
        <P3 para="Account1.DispalyName">{{ _context['displayname_1]|default }}</P3>
        <P103 para="Account1.DnsMode">0</P103>
        <P63 para="Account1.UserIdIsPhoneNumber">1</P63>
        <P31 para="Account1.SipRegistration">1</P31>
        <P81 para="Account1.UnregisterOnReboot">1</P81>
        <P32 para="Account1.RegisterExpiration">15</P32>
        <P109 para="Account1.OutCallWithoutReg">1</P109>
        <P40 para="Account1.LocalSipPort">{{ _context['server_port_1]|default }}</P40>
        <P78 para="Account1.UseRandomPort">0</P78>
        <P33 para="Account1.VoiceMailId">{{ _context['voicemail_number_1]|default }}</P33>
        <P136 para="Account1.RPort">0</P136>
        <P1100 para="Account1.RFC2543Hold">1</P1100>
        <P8775 para="Account1.ConnectMode">0</P8775>
        <!--Account1/Codec-->
        <P57 para="Account1.Choice1">0</P57>
        <P58 para="Account1.Choice2">8</P58>
        <P59 para="Account1.Choice3">18</P59>
        <P60 para="Account1.Choice4">2</P60>
        <P61 para="Account1.Choice5">4</P61>
        <P62 para="Account1.Choice6">9</P62>
        <P37 para="Account1.VoiceFramesPerTX">2</P37>
        <P49 para="Account1.G723Rate">0</P49>
        <P394 para="Account1.LibcMode">0</P394>
        <P390 para="Account1.LibcPayloadType">97</P390>
        <!--Account1/Advance-->
        <P79 para="Account1.DtmfPayloadType">101</P79>
        <P20166 para="Account1.DtmfMode">{{ _context['dtmf_type_1]|default }}</P20166>
        <P74 para="Account1.SendFlashEvent">0</P74>
        <P191 para="Account1.EnableCallFeatures">0</P191>
        <P197 para="Account1.ProxyRequire" />
        <P101 para="Account1.UseNatIP" />
        <P23388 para="Account1.SipKeepAliveMode">0</P23388>
        <P23382 para="Account1.SipKeepAliveInterval">15</P23382>
        <P183 para="Account1.SRtpMode">{{ _context['srtp_encryption_1]|default }}</P183>
        <P50 para="Account1.VAD">0</P50>
        <P291 para="Account1.SymmetricRTP">0</P291>
        <P133 para="Account1.JitterBufferType">1</P133>
        <P132 para="Account1.JitterBufferLength">1</P132>
	<P104 para="Account1.AccountRingTone">{{ _context['default_ringtone_1]|default }}</P104>
        <P185 para="Account1.RingTimeout">60</P185>
        <P72 para="Account1.Use#AsDialKey">{{ pound }}</P72>
        <P4200 para="Account1.DialPlan">{[x*]+}</P4200>
        <P99 para="Account1.SubscribeForMWI">1</P99>
        <P65 para="Account1.SendAnonymous">0</P65>
        <P129 para="Account1.AnonymousCallRejection">0</P129>
        <P258 para="Account1.CheckSIPUserID">0</P258>
        <P90 para="Account1.AutoAnswer">0</P90>
        <P298 para="Account1.AnswerViaCallInfo">1</P298>
        <P299 para="Account1.OffSpeakerDisconnect">1</P299>
        <P260 para="Account1.SessionExpiration">180</P260>
        <P261 para="Account1.MinSE">90</P261>
        <P262 para="Account1.CallerRequestTimer">0</P262>
        <P263 para="Account1.CalleeRequestTimer">0</P263>
        <P264 para="Account1.ForceTimer">0</P264>
        <P266 para="Account1.UACSpecifyRefresher">0</P266>
        <P267 para="Account1.UASSpecifyRefresher">1</P267>
        <P265 para="Account1.ForceINVITE">0</P265>
        <P251 para="Account1.HookFlashMinTiming">30</P251>
        <P252 para="Account1.HookFlashMaxTiming">100</P252>
        <P198 para="Account1.SpecialFeature">100</P198>
        <P134 para="Account1.EventlistBlfUrl" />
        <P8771 para="Account1.ShareLine">0</P8771>
        <P8791 para="Account1.SIPServerType">0</P8791>
        <P8811 para="Account1.100rel">0</P8811>
        <P8841 para="Account1.EarlySession">0</P8841>
        <P8845 para="Account1.RefuseReturnCode">0</P8845>
        <P4705 para="Account1.DirectCallPickupCode">{{ pickup_direct }}</P4705>
        <P4706 para="Account1.GroupCallPickupCode">{{ pickup_group }}</P4706>
        <P8633 para="Account1.FeatureKeySyn">0</P8633>
        <P20004 para="Account1.ConferenceType">0</P20004>
        <P20008 para="Account1.ConferenceURI" />
        <P20053 para="Account1.SipSendMac">0</P20053>
        <P20157 para="Account1.CallerDisplaySource">3</P20157>
        <P20655 para="Account1.EnableACD">0</P20655>
        <P20661 para="Account1.ACDShowAvailable">0</P20661>
        <P20667 para="Account1.ACDInitialState">0</P20667>
        <P20673 para="Account1.ACDShowUnavailableReason">0</P20673>
        <P20900 para="Account1.ACDUnAvailableName1" />
        <P20901 para="Account1.ACDUnAvailableName2" />
        <P20902 para="Account1.ACDUnAvailableName3" />
        <P20903 para="Account1.ACDUnAvailableName4" />
        <P20904 para="Account1.ACDUnAvailableName5" />
        <P20679 para="Account1.ACDUnAvailableCode1" />
        <P20680 para="Account1.ACDUnAvailableCode2" />
        <P20681 para="Account1.ACDUnAvailableCode3" />
        <P20682 para="Account1.ACDUnAvailableCode4" />
        <P20683 para="Account1.ACDUnAvailableCode5" />
        <P20709 para="Account1.EnableHoteling">0</P20709>
        <P20715 para="Account1.HotelingAutoLogin">0</P20715>
        <P20721 para="Account1.HotelingUserId" />
        <P20727 para="Account1.HotelingPassWord" />
        <P20733 para="Account1.EnableCallCenterStatus">0</P20733>
        <P20739 para="Account1.EnableCallCenterTrace">0</P20739>
        <P20745 para="Account1.EnableCallCenterEmergencyEscalation">0</P20745>
        <P20751 para="Account1.CallCenterSupervisorCode1" />
        <P20752 para="Account1.CallCenterSupervisorCode2" />
        <P20753 para="Account1.CallCenterSupervisorCode3" />
        <P20754 para="Account1.CallCenterSupervisorCode4" />
        <P20755 para="Account1.CallCenterSupervisorCode5" />
        <P20787 para="Account1.CallCenterSupervisorName1" />
        <P20788 para="Account1.CallCenterSupervisorName2" />
        <P20789 para="Account1.CallCenterSupervisorName3" />
        <P20790 para="Account1.CallCenterSupervisorName4" />
        <P20791 para="Account1.CallCenterSupervisorName5" />
        <P20823 para="Account1.EnableCallCenterDispCode">0</P20823>
        <P20829 para="Account1.CCDispCode1" />
        <P20830 para="Account1.CCDispCode2" />
        <P20831 para="Account1.CCDispCode3" />
        <P20832 para="Account1.CCDispCode4" />
        <P20833 para="Account1.CCDispCode5" />
        <P20865 para="Account1.CCDispName1" />
        <P20866 para="Account1.CCDispName2" />
        <P20867 para="Account1.CCDispName3" />
        <P20868 para="Account1.CCDispName4" />
        <P20869 para="Account1.CCDispName5" />
        <P20970 para="Account1.SubscribeExpires">300</P20970>
        <P20976 para="Account1.SCABargeIn">0</P20976>
        <!--Account2/Basic-->
        <P401 para="Account2.Active">{{ _context['line_active_2]|default }}</P401>
        <P747 para="Account2.Sipserver" />{{ _context['server_host_2]|default }}</P747>
        <P987 para="Account2.FailoverSipserver" />{{ _context['server_host2_2]|default }}</P987>
        <P8852 para="Account2.SecondFailoverSipserver" />
        <P4568 para="Account2.PreferPrimaryServer">1</P4568>
        <P748 para="Account2.OutboundProxy" />
        <P20048 para="Account2.BackUpOutboundProxy" />
        <P830 para="Account2.SipTransport">{{ _context['transport_type_2]|default }}</P830>
        <P730 para="Account2.NatTraversal">2</P730>
        <P20001 para="Account2.Lable" />{{ _context['displayname_2]|default }}</P20001>
        <P735 para="Account2.SipUserId" />{{ _context['username_2]|default }}</P35>
        <P736 para="Account2.AuthenticateID" />{{ _context['username_2]|default }}</P736>
        <P734 para="Account2.AuthenticatePassword" />{{ _context['secret_2]|default }}</P734>
        <P703 para="Account2.DispalyName" />{{ _context['displayname_2]|default }}</P703>
        <P702 para="Account2.DnsMode">0</P702>
        <P763 para="Account2.UserIdIsPhoneNumber">1</P763>
        <P731 para="Account2.SipRegistration">1</P731>
        <P752 para="Account2.UnregisterOnReboot">1</P752>
        <P732 para="Account2.RegisterExpiration">15</P732>
        <P813 para="Account2.OutCallWithoutReg">1</P813>
        <P740 para="Account2.LocalSipPort">{{ _context['server_port_2]|default }}</P740>
        <P778 para="Account2.UseRandomPort">0</P778>
        <P426 para="Account2.VoiceMailId">{{ _context['voicemail_number_2]|default }}</P426>
        <P137 para="Account2.RPort">0</P137>
        <P1101 para="Account2.RFC2543Hold">1</P1101>
        <P8776 para="Account2.ConnectMode">0</P8776>
        <!--Account2/Codec-->
        <P757 para="Account2.Choice1">0</P757>
        <P758 para="Account2.Choice2">8</P758>
        <P759 para="Account2.Choice3">18</P759>
        <P760 para="Account2.Choice4">2</P760>
        <P761 para="Account2.Choice5">4</P761>
        <P762 para="Account2.Choice6">9</P762>
        <P737 para="Account2.VoiceFramesPerTX">2</P737>
        <P749 para="Account2.G723Rate">0</P749>
        <P395 para="Account2.LibcMode">0</P395>
        <P391 para="Account2.LibcPayloadType">97</P391>
        <!--Account2/Advance-->
        <P779 para="Account2.DtmfPayloadType">101</P779>
        <P20167 para="Account2.DtmfMode">{{ _context['dtmf_type_2]|default }</P20167>
        <P774 para="Account2.SendFlashEvent">0</P774>
        <P751 para="Account2.EnableCallFeatures">0</P751>
        <P792 para="Account2.ProxyRequire" />
        <P866 para="Account2.UseNatIP" />
        <P23389 para="Account2.SipKeepAliveMode">0</P23389>
        <P23383 para="Account2.SipKeepAliveInterval">15</P23383>
        <P443 para="Account2.SRtpMode">{{ _context['srtp_encryption_2]|default }}</P443>
        <P750 para="Account2.VAD">0</P750>
        <P460 para="Account2.SymmetricRTP">0</P460>
        <P831 para="Account2.JitterBufferType">1</P831>
        <P832 para="Account2.JitterBufferLength">1</P832>
        <P423 para="Account2.AccountRingTone">{{ _context['default_ringtone_2]|default }}</P423>
        <P816 para="Account2.RingTimeout">60</P816>
        <P772 para="Account2.Use#AsDialKey">{{ pound }}</P772>
        <P4201 para="Account2.DialPlan">{[x*]+}</P4201>
        <P709 para="Account2.SubscribeForMWI">1</P709>
        <P421 para="Account2.SendAnonymous">0</P421>
        <P446 para="Account2.AnonymousCallRejection">0</P446>
        <P458 para="Account2.CheckSIPUserID">0</P458>
        <P425 para="Account2.AutoAnswer">0</P425>
        <P438 para="Account2.AnswerViaCallInfo">1</P438>
        <P439 para="Account2.OffSpeakerDisconnect">1</P439>
        <P434 para="Account2.SessionExpiration">180</P434>
        <P427 para="Account2.MinSE">90</P427>
        <P428 para="Account2.CallerRequestTimer">0</P428>
        <P429 para="Account2.CalleeRequestTimer">0</P429>
        <P430 para="Account2.ForceTimer">0</P430>
        <P432 para="Account2.UACSpecifyRefresher">0</P432>
        <P433 para="Account2.UASSpecifyRefresher">1</P433>
        <P431 para="Account2.ForceINVITE">0</P431>
        <P811 para="Account2.HookFlashMinTiming">30</P811>
        <P812 para="Account2.HookFlashMaxTiming">100</P812>
        <P767 para="Account2.SpecialFeature">100</P767>
        <P444 para="Account2.EventlistBlfUrl" />
        <P8772 para="Account2.ShareLine">0</P8772>
        <P8792 para="Account2.SIPServerType">0</P8792>
        <P8812 para="Account2.100rel">0</P8812>
        <P8842 para="Account2.EarlySession">0</P8842>
        <P8846 para="Account2.RefuseReturnCode">0</P8846>
        <P4715 para="Account2.DirectCallPickupCode">{{ pickup_direct }}</P4715>
        <P4716 para="Account2.GroupCallPickupCode">{{ pickup_group }}</P4716>
        <P8634 para="Account2.FeatureKeySyn">0</P8634>
        <P20005 para="Account2.ConferenceType">0</P20005>
        <P20009 para="Account2.ConferenceURI" />
        <P20054 para="Account2.SipSendMac">0</P20054>
        <P20158 para="Account2.CallerDisplaySource">3</P20158>
        <P20656 para="Account2.EnableACD">0</P20656>
        <P20662 para="Account2.ACDShowAvailable">0</P20662>
        <P20668 para="Account2.ACDInitialState">0</P20668>
        <P20674 para="Account2.ACDShowUnavailableReason">0</P20674>
        <P20905 para="Account2.ACDUnAvailableName1" />
        <P20906 para="Account2.ACDUnAvailableName2" />
        <P20907 para="Account2.ACDUnAvailableName3" />
        <P20908 para="Account2.ACDUnAvailableName4" />
        <P20909 para="Account2.ACDUnAvailableName5" />
        <P20684 para="Account2.ACDUnAvailableCode1" />
        <P20685 para="Account2.ACDUnAvailableCode2" />
        <P20686 para="Account2.ACDUnAvailableCode3" />
        <P20687 para="Account2.ACDUnAvailableCode4" />
        <P20688 para="Account2.ACDUnAvailableCode5" />
        <P20710 para="Account2.EnableHoteling">0</P20710>
        <P20716 para="Account2.HotelingAutoLogin">0</P20716>
        <P20722 para="Account2.HotelingUserId" />
        <P20728 para="Account2.HotelingPassWord" />
        <P20734 para="Account2.EnableCallCenterStatus">0</P20734>
        <P20740 para="Account2.EnableCallCenterTrace">0</P20740>
        <P20746 para="Account2.EnableCallCenterEmergencyEscalation">0</P20746>
        <P20757 para="Account2.CallCenterSupervisorCode1" />
        <P20758 para="Account2.CallCenterSupervisorCode2" />
        <P20759 para="Account2.CallCenterSupervisorCode3" />
        <P20760 para="Account2.CallCenterSupervisorCode4" />
        <P20761 para="Account2.CallCenterSupervisorCode5" />
        <P20793 para="Account2.CallCenterSupervisorName1" />
        <P20794 para="Account2.CallCenterSupervisorName2" />
        <P20795 para="Account2.CallCenterSupervisorName3" />
        <P20796 para="Account2.CallCenterSupervisorName4" />
        <P20797 para="Account2.CallCenterSupervisorName5" />
        <P20824 para="Account2.EnableCallCenterDispCode">0</P20824>
        <P20835 para="Account2.CCDispCode1" />
        <P20836 para="Account2.CCDispCode2" />
        <P20837 para="Account2.CCDispCode3" />
        <P20838 para="Account2.CCDispCode4" />
        <P20839 para="Account2.CCDispCode5" />
        <P20871 para="Account2.CCDispName1" />
        <P20872 para="Account2.CCDispName2" />
        <P20873 para="Account2.CCDispName3" />
        <P20874 para="Account2.CCDispName4" />
        <P20875 para="Account2.CCDispName5" />
        <P20971 para="Account2.SubscribeExpires">300</P20971>
        <P20977 para="Account2.SCABargeIn">0</P20977>
        <!--Network/Basic-->
        <P8 para="IPv4WanMode">0</P8>
        <P146 para="DHCPHostName">{{ model }}-{{ metadata_id }}</P146>
        <P231 para="PcPort">{{ pc_port }}</P231>
        <!--Network/Advance-->
        <!--Network/Advance/LLDP-->
        <P5438 para="Active">1</P5438>
        <P5439 para="PackedInterval">120</P5439>
        <!--Network/Advance/Qos Set -->
        <P38 para="Layer3QoS">48</P38>
        <P51 para="VLAN.WANPort.VID">{{ voice_vlan_id }}</P51>
        <P87 para="VLAN.WANPort.Priority">{{ voice_vlan_priority }}</P87>
        <P229 para="VLAN.PCPort.VID">{{ data_vlan_id }}</P229>
        <!--Network/Advance/NTP Server-->
        <P30 para="UrlOrIpAddress">{{ network_time_server }}</P30>
        <P144 para="DHCPOverrideNTP">0</P144>
        <!--Network/Advance/VPN-->
        <!--Network/Advance/Web Server-->
        <P901 para="HTTPPort">80</P901>
        <P8724 para="HTTPSPort">443</P8724>
        <P8725 para="Type">1</P8725>
        <!--Network/Advance/802.1X-->
        <P8626 para="802.1XMode">0</P8626>
        <P8627 para="Identity" />
        <P8628 para="MD5Password" />
        <!--Network/Advance/Others-->
        <P76 para="STUN Server" />
        <P84 para="KeepAtiveInterval">20</P84>
        <P8684 para="DhcpVlan">{{ vlan_dhcp_enable }}</P8684>
	<!--FunctionKeys-->
        <!--FunctionKeys/LineKey1-->
	<P41200 para="LineKey1.Type">{{ linekey_type_1 }}</P41200>
        <P20600 para="LineKey1.Mode">0</P20600>
        <P41300 para="LineKey1.Value">{{ linekey_value_1 }}</P41300>
        <P41400 para="LineKey1.Label">{{ linekey_label_1 }}</P41400>
        <P41500 para="LineKey1.Account">{{ linekey_line_1 }}</P41500>
	<P41600 para="LineKey1.PickupCode">{{ pickup_direct }}</P41600>
	<P41201 para="LineKey2.Type">{{ linekey_type_2 }}</P41201>
        <P20601 para="LineKey2.Mode">0</P20601>
        <P41301 para="LineKey2.Value">{{ linekey_value_2 }}</P41301>
        <P41401 para="LineKey2.Label">{{ linekey_label_2 }}</P41401>
        <P41501 para="LineKey2.Account">{{ linekey_line_2 }}</P41501>
        <P41601 para="LineKey2.PickupCode">{{ pickup_direct }}</P41601>
        <P41202 para="LineKey3.Type">{{ linekey_type_3 }}</P41202>
        <P20602 para="LineKey3.Mode">0</P20602>
        <P41302 para="LineKey3.Value">{{ linekey_value_3 }}</P41302>
        <P41402 para="LineKey3.Label">{{ linekey_label_3 }}</P41402>
        <P41502 para="LineKey3.Account">{{ linekey_line_3 }}</P41502>
	<P41602 para="LineKey3.PickupCode">{{ pickup_direct }}</P41602>
	<P41203 para="LineKey4.Type">{{ linekey_type_4 }}</P41203>
        <P20603 para="LineKey4.Mode">0</P20603>
        <P41303 para="LineKey4.Value">{{ linekey_value_4 }}</P41303>
        <P41403 para="LineKey4.Label">{{ linekey_label_4 }}</P41403>
        <P41503 para="LineKey4.Account">{{ linekey_line_4 }}</P41503>
        <P41603 para="LineKey4.PickupCode">{{ pickup_direct }}</P41603>
        <P20200 para="LineKey5.Type">{{ linekey_type_5 }}</P20200>
        <P20604 para="LineKey5.Mode">0</P20604>
        <P20201 para="LineKey5.Value">{{ linekey_value_5 }}</P20201>
        <P20202 para="LineKey5.Label">{{ linekey_label_5 }}</P20202>
        <P20203 para="LineKey5.Account">{{ linekey_line_5 }}</P20203>
        <P20204 para="LineKey5.PickupCode">{{ pickup_direct }}</P20204>
        <P20205 para="LineKey6.Type">{{ linekey_type_6 }}</P20205>
        <P20605 para="LineKey6.Mode">0</P20605>
        <P20206 para="LineKey6.Value">{{ linekey_value_6 }}</P20206>
        <P20207 para="LineKey6.Label">{{ linekey_label_6 }}</P20207>
        <P20208 para="LineKey6.Account">{{ linekey_line_6 }}</P20208>
	<P20209 para="LineKey6.PickupCode">{{ pickup_direct }}</P20209>
	<P20210 para="LineKey7.Type">{{ linekey_type_7 }}</P20210>
        <P20606 para="LineKey7.Mode">0</P20606>
        <P20211 para="LineKey7.Value">{{ linekey_value_7 }}</P20211>
        <P20212 para="LineKey7.Label">{{ linekey_label_7 }}</P20212>
        <P20213 para="LineKey7.Account">{{ linekey_line_7 }}</P20213>
	<P20214 para="LineKey7.PickupCode">{{ pickup_direct }}</P20214>
	<P20215 para="LineKey8.Type">{{ linekey_type_8 }}</P20215>
        <P20607 para="LineKey8.Mode">0</P20607>
        <P20216 para="LineKey8.Value">{{ linekey_value_8 }}</P20216>
        <P20217 para="LineKey8.Label">{{ linekey_label_8 }}</P20217>
        <P20218 para="LineKey8.Account">{{ linekey_line_8 }}</P20218>
	<P20219 para="LineKey8.PickupCode">{{ pickup_direct }}</P20219>
	<P20220 para="LineKey9.Type">{{ linekey_type_9 }}</P20220>
        <P20608 para="LineKey9.Mode">0</P20608>
        <P20221 para="LineKey9.Value">{{ linekey_value_9 }}</P20221>
        <P20222 para="LineKey9.Label">{{ linekey_label_9 }}</P20222>
        <P20223 para="LineKey9.Account">{{ linekey_line_9 }}</P20223>
	<P20224 para="LineKey9.PickupCode">{{ pickup_direct }}</P20224>
	<P20225 para="LineKey10.Type">{{ linekey_type_10 }}</P20225>
        <P20609 para="LineKey10.Mode">0</P20609>
        <P20226 para="LineKey10.Value">{{ linekey_value_10 }}</P20226>
        <P20227 para="LineKey10.Label">{{ linekey_label_10 }}</P20227>
        <P20228 para="LineKey10.Account">{{ linekey_line_10 }}</P20228>
        <P20229 para="LineKey10.PickupCode">{{ pickup_direct }}</P20229>
        <P20230 para="LineKey11.Type">{{ linekey_type_11 }}</P20230>
        <P20610 para="LineKey11.Mode">0</P20610>
        <P20231 para="LineKey11.Value">{{ linekey_value_11 }}</P20231>
        <P20232 para="LineKey11.Label">{{ linekey_label_11 }}</P20232>
        <P20233 para="LineKey11.Account">{{ linekey_line_11 }}</P20233>
	<P20234 para="LineKey11.PickupCode">{{ pickup_direct }}</P20234>
	<P20235 para="LineKey12.Type">{{ linekey_type_12 }}</P20235>
        <P20611 para="LineKey12.Mode">0</P20611>
        <P20236 para="LineKey12.Value">{{ linekey_value_12 }}</P20236>
        <P20237 para="LineKey12.Label">{{ linekey_label_12 }}</P20237>
        <P20238 para="LineKey12.Account">{{ linekey_line_12 }}</P20238>
        <P20239 para="LineKey12.PickupCode">{{ pickup_direct }}</P20239>
	<P20240 para="LineKey13.Type">{{ linekey_type_13 }}</P20240>
        <P20612 para="LineKey13.Mode">0</P20612>
        <P20241 para="LineKey13.Value">{{ linekey_value_13 }}</P20241>
        <P20242 para="LineKey13.Label">{{ linekey_label_13 }}</P20242>
        <P20243 para="LineKey13.Account">{{ linekey_line_13 }}</P20243>
        <P20244 para="LineKey13.PickupCode">{{ pickup_direct }}</P20244>
	<P20245 para="LineKey14.Type">{{ linekey_type_14 }}</P20245>
        <P20613 para="LineKey14.Mode">0</P20613>
        <P20246 para="LineKey14.Value">{{ linekey_value_14 }}</P20246>
        <P20247 para="LineKey14.Label">{{ linekey_label_14 }}</P20247>
        <P20248 para="LineKey14.Account">{{ linekey_line_14 }}</P20248>
        <P20249 para="LineKey14.PickupCode">{{ pickup_direct }}</P20249>
	<P20250 para="LineKey15.Type">{{ linekey_type_15 }}</P20250>
        <P20614 para="LineKey15.Mode">0</P20614>
        <P20251 para="LineKey15.Value">{{ linekey_value_15 }}</P20251>
        <P20252 para="LineKey15.Label">{{ linekey_label_15 }}</P20252>
        <P20253 para="LineKey15.Account">{{ linekey_line_15 }}</P20253>
        <P20254 para="LineKey15.PickupCode">{{ pickup_direct }}</P20254>
	<P20255 para="LineKey16.Type">{{ linekey_type_16 }}</P20255>
        <P20615 para="LineKey16.Mode">0</P20615>
        <P20256 para="LineKey16.Value">{{ linekey_value_16 }}</P20256>
        <P20257 para="LineKey16.Label">{{ linekey_label_16 }}</P20257>
        <P20258 para="LineKey16.Account">{{ linekey_line_16 }}</P20258>
        <P20259 para="LineKey16.PickupCode">{{ pickup_direct }}</P20259>
	<P20260 para="LineKey17.Type">{{ linekey_type_17 }}</P20260>
        <P20616 para="LineKey17.Mode">0</P20616>
        <P20261 para="LineKey17.Value">{{ linekey_value_17 }}</P20261>
        <P20262 para="LineKey17.Label">{{ linekey_label_17 }}</P20262>
        <P20263 para="LineKey17.Account">{{ linekey_line_17 }}</P20263>
        <P20264 para="LineKey17.PickupCode">{{ pickup_direct }}</P20264>
	<P20265 para="LineKey18.Type">{{ linekey_type_18 }}</P20265>
        <P20617 para="LineKey18.Mode">0</P20617>
        <P20266 para="LineKey18.Value">{{ linekey_value_18 }}</P20266>
        <P20267 para="LineKey18.Label">{{ linekey_label_18 }}</P20267>
        <P20268 para="LineKey18.Account">{{ linekey_line_18 }}</P20268>
        <P20269 para="LineKey18.PickupCode">{{ pickup_direct }}</P20269>
	<P20270 para="LineKey19.Type">{{ linekey_type_19 }}</P20270>
        <P20618 para="LineKey19.Mode">0</P20618>
        <P20271 para="LineKey19.Value">{{ linekey_value_19 }}</P20271>
        <P20272 para="LineKey19.Label">{{ linekey_label_19 }}</P20272>
        <P20273 para="LineKey19.Account">{{ linekey_line_19 }}</P20273>
        <P20274 para="LineKey19.PickupCode">{{ pickup_direct }}</P20274>
	<P20275 para="LineKey20.Type">{{ linekey_type_20 }}</P20275>
        <P20619 para="LineKey20.Mode">0</P20619>
        <P20276 para="LineKey20.Value">{{ linekey_value_20 }}</P20276>
        <P20277 para="LineKey20.Label">{{ linekey_label_20 }}</P20277>
        <P20278 para="LineKey20.Account">{{ linekey_line_20 }}</P20278>
        <P20279 para="LineKey20.PickupCode">{{ pickup_direct }}</P20279>
	<P20280 para="LineKey21.Type">{{ linekey_type_21 }}</P20280>
        <P20620 para="LineKey21.Mode">0</P20620>
        <P20281 para="LineKey21.Value">{{ linekey_value_21 }}</P20281>
        <P20282 para="LineKey21.Label">{{ linekey_label_21 }}</P20282>
        <P20283 para="LineKey21.Account">{{ linekey_line_21 }}</P20283>
        <P20284 para="LineKey21.PickupCode">{{ pickup_direct }}</P20284>
	<P20285 para="LineKey22.Type">{{ linekey_type_22 }}</P20285>
        <P20621 para="LineKey22.Mode">0</P20621>
        <P20286 para="LineKey22.Value">{{ linekey_value_22 }}</P20286>
        <P20287 para="LineKey22.Label">{{ linekey_label_22 }}</P20287>
        <P20288 para="LineKey22.Account">{{ linekey_line_22 }}</P20288>
        <P20289 para="LineKey22.PickupCode">{{ pickup_direct }}</P20289>
	<P20290 para="LineKey23.Type">{{ linekey_type_23 }}</P20290>
        <P20622 para="LineKey23.Mode">0</P20622>
        <P20291 para="LineKey23.Value">{{ linekey_value_23 }}</P20291>
        <P20292 para="LineKey23.Label">{{ linekey_label_23 }}</P20292>
        <P20293 para="LineKey23.Account">{{ linekey_line_23 }}</P20293>
        <P20294 para="LineKey23.PickupCode">{{ pickup_direct }}</P20294>
	<P20295 para="LineKey24.Type">{{ linekey_type_24 }}</P20295>
        <P20623 para="LineKey24.Mode">0</P20623>
        <P20296 para="LineKey24.Value">{{ linekey_value_24 }}</P20296>
        <P20297 para="LineKey24.Label">{{ linekey_label_24 }}</P20297>
        <P20298 para="LineKey24.Account">{{ linekey_line_24 }}</P20298>
        <P20299 para="LineKey24.PickupCode">{{ pickup_direct }}</P20299>
	<P20300 para="LineKey25.Type">{{ linekey_type_25 }}</P20300>
        <P20624 para="LineKey25.Mode">0</P20624>
        <P20301 para="LineKey25.Value">{{ linekey_value_25 }}</P20301>
        <P20302 para="LineKey25.Label">{{ linekey_label_25 }}</P20302>
        <P20303 para="LineKey25.Account">{{ linekey_line_25 }}</P20303>
        <P20304 para="LineKey25.PickupCode">{{ pickup_direct }}</P20304>
        <P20305 para="LineKey26.Type">{{ linekey_type_26 }}</P20305>
        <P20625 para="LineKey26.Mode">0</P20625>
        <P20306 para="LineKey26.Value">{{ linekey_value_26 }}</P20306>
        <P20307 para="LineKey26.Label">{{ linekey_label_26 }}</P20307>
        <P20308 para="LineKey26.Account">{{ linekey_line_26 }}</P20308>
        <P20309 para="LineKey26.PickupCode">{{ pickup_direct }}</P20309>
	<P20310 para="LineKey27.Type">{{ linekey_type_27 }}</P20310>
        <P20626 para="LineKey27.Mode">0</P20626>
        <P20311 para="LineKey27.Value">{{ linekey_value_27 }}</P20311>
        <P20312 para="LineKey27.Label">{{ linekey_label_27 }}</P20312>
        <P20313 para="LineKey27.Account">{{ linekey_line_27 }}</P20313>
        <P20314 para="LineKey27.PickupCode">{{ pickup_direct }}</P20314>
	<P20315 para="LineKey28.Type">{{ linekey_type_28 }}</P20315>
        <P20627 para="LineKey28.Mode">0</P20627>
        <P20316 para="LineKey28.Value">{{ linekey_value_28 }}</P20316>
        <P20317 para="LineKey28.Label">{{ linekey_label_28 }}</P20317>
        <P20318 para="LineKey28.Account">{{ linekey_line_28 }}</P20318>
        <P20319 para="LineKey28.PickupCode">{{ pickup_direct }}</P20319>
	<P20320 para="LineKey29.Type">{{ linekey_type_29 }}</P20320>
        <P20628 para="LineKey29.Mode">0</P20628>
        <P20321 para="LineKey29.Value">{{ linekey_value_29 }}</P20321>
        <P20322 para="LineKey29.Label">{{ linekey_label_29 }}</P20322>
        <P20323 para="LineKey29.Account">{{ linekey_line_29 }}</P20323>
        <P20324 para="LineKey29.PickupCode">{{ pickup_direct }}</P20324>
	<P20325 para="LineKey30.Type">{{ linekey_type_30 }}</P20325>
        <P20629 para="LineKey30.Mode">0</P20629>
        <P20326 para="LineKey30.Value">{{ linekey_value_30 }}</P20326>
        <P20327 para="LineKey30.Label">{{ linekey_label_30 }}</P20327>
        <P20328 para="LineKey30.Account">{{ linekey_line_30 }}</P20328>
        <P20329 para="LineKey30.PickupCode">{{ pickup_direct }}</P20329>
	<P20330 para="LineKey31.Type">{{ linekey_type_31 }}</P20330>
        <P20630 para="LineKey31.Mode">0</P20630>
        <P20331 para="LineKey31.Value">{{ linekey_value_31 }}</P20331>
        <P20332 para="LineKey31.Label">{{ linekey_label_31 }}</P20332>
        <P20333 para="LineKey31.Account">{{ linekey_line_31 }}</P20333>
        <P20334 para="LineKey31.PickupCode">{{ pickup_direct }}</P20334>
	<P20335 para="LineKey32.Type">{{ linekey_type_32 }}</P20335>
        <P20631 para="LineKey32.Mode">0</P20631>
        <P20336 para="LineKey32.Value">{{ linekey_value_32 }}</P20336>
        <P20337 para="LineKey32.Label">{{ linekey_label_32 }}</P20337>
        <P20338 para="LineKey32.Account">{{ linekey_line_32 }}</P20338>
        <P20339 para="LineKey32.PickupCode">{{ pickup_direct }}</P20339>
	<P20340 para="LineKey33.Type">{{ linekey_type_33 }}</P20340>
        <P20632 para="LineKey33.Mode">0</P20632>
        <P20341 para="LineKey33.Value">{{ linekey_value_33 }}</P20341>
        <P20342 para="LineKey33.Label">{{ linekey_label_33 }}</P20342>
        <P20343 para="LineKey33.Account">{{ linekey_line_33 }}</P20343>
	<P20344 para="LineKey33.PickupCode">{{ pickup_direct }}</P20344>
	<P20345 para="LineKey34.Type">{{ linekey_type_34 }}</P20345>
        <P20633 para="LineKey34.Mode">0</P20633>
        <P20346 para="LineKey34.Value">{{ linekey_value_34 }}</P20346>
        <P20347 para="LineKey34.Label">{{ linekey_label_34 }}</P20347>
        <P20348 para="LineKey34.Account">{{ linekey_line_34 }}</P20348>
        <P20349 para="LineKey34.PickupCode">{{ pickup_direct }}</P20349>
	<P20350 para="LineKey35.Type">{{ linekey_type_35 }}</P20350>
        <P20634 para="LineKey35.Mode">0</P20634>
        <P20351 para="LineKey35.Value">{{ linekey_value_35 }}</P20351>
        <P20352 para="LineKey35.Label">{{ linekey_label_35 }}</P20352>
        <P20353 para="LineKey35.Account">{{ linekey_line_35 }}</P20353>
        <P20354 para="LineKey35.PickupCode">{{ pickup_direct }}</P20354>
	<P20355 para="LineKey36.Type">{{ linekey_type_36 }}</P20355>
        <P20635 para="LineKey36.Mode">0</P20635>
        <P20356 para="LineKey36.Value">{{ linekey_value_36 }}</P20356>
        <P20357 para="LineKey36.Label">{{ linekey_label_36 }}</P20357>
        <P20358 para="LineKey36.Account">{{ linekey_line_36 }}</P20358>
        <P20359 para="LineKey36.PickupCode">{{ pickup_direct }}</P20359>
	<P23000 para="LineKey37.Type">{{ linekey_type_37 }}</P23000>
        <P23001 para="LineKey37.Mode">0</P23001>
        <P23002 para="LineKey37.Value">{{ linekey_value_37 }}</P23002>
        <P23003 para="LineKey37.Label">{{ linekey_label_37 }}</P23003>
        <P23004 para="LineKey37.Account">{{ linekey_line_37 }}</P23004>
        <P23005 para="LineKey37.PickupCode">{{ pickup_direct }}</P23005>
	<P23006 para="LineKey38.Type">{{ linekey_type_38 }}</P23006>
        <P23007 para="LineKey38.Mode">0</P23007>
        <P23008 para="LineKey38.Value">{{ linekey_value_38 }}</P23008>
        <P23009 para="LineKey38.Label">{{ linekey_label_38 }}</P23009>
        <P23010 para="LineKey38.Account">{{ linekey_line_38 }}</P23010>
        <P23011 para="LineKey38.PickupCode">{{ pickup_direct }}</P23011>
	<P23012 para="LineKey39.Type">{{ linekey_type_37 }}</P23012>
        <P23013 para="LineKey39.Mode">0</P23013>
        <P23014 para="LineKey39.Value">{{ linekey_value_37 }}</P23014>
        <P23015 para="LineKey39.Label">{{ linekey_label_37 }}</P23015>
        <P23016 para="LineKey39.Account">{{ linekey_line_37 }}</P23016>
        <P23017 para="LineKey39.PickupCode">{{ pickup_direct }}</P23017>
	<P23018 para="LineKey40.Type">{{ linekey_type_40 }}</P23018>
        <P23019 para="LineKey40.Mode">0</P23019>
        <P23020 para="LineKey40.Value">{{ linekey_value_40 }}</P23020>
        <P23021 para="LineKey40.Label">{{ linekey_label_40 }}</P23021>
        <P23022 para="LineKey40.Account">{{ linekey_line_40 }}</P23022>
        <P23023 para="LineKey40.PickupCode">{{ pickup_direct }}</P23023>
	<P23024 para="LineKey41.Type">{{ linekey_type_41 }}</P23024>
        <P23025 para="LineKey41.Mode">0</P23025>
        <P23026 para="LineKey41.Value">{{ linekey_value_41 }}</P23026>
        <P23027 para="LineKey41.Label">{{ linekey_label_41 }}</P23027>
        <P23028 para="LineKey41.Account">{{ linekey_line_41 }}</P23028>
        <P23029 para="LineKey41.PickupCode">{{ pickup_direct }}</P23029>
	<P23030 para="LineKey42.Type">{{ linekey_type_42 }}</P23030>
        <P23031 para="LineKey42.Mode">0</P23031>
        <P23032 para="LineKey42.Value">{{ linekey_value_42 }}</P23032>
        <P23033 para="LineKey42.Label">{{ linekey_label_42 }}</P23033>
        <P23034 para="LineKey42.Account">{{ linekey_line_42 }}</P23034>
        <P23035 para="LineKey42.PickupCode">{{ pickup_direct }}</P23035>
	<P23036 para="LineKey43.Type">{{ linekey_type_43 }}</P23036>
        <P23037 para="LineKey43.Mode">0</P23037>
        <P23038 para="LineKey43.Value">{{ linekey_value_43 }}</P23038>
        <P23039 para="LineKey43.Label">{{ linekey_label_43 }}</P23039>
        <P23040 para="LineKey43.Account">{{ linekey_line_43 }}</P23040>
        <P23041 para="LineKey43.PickupCode">{{ pickup_direct }}</P23041>
	<P23042 para="LineKey44.Type">{{ linekey_type_44 }}</P23042>
        <P23043 para="LineKey44.Mode">0</P23043>
        <P23044 para="LineKey44.Value">{{ linekey_value_44 }}</P23044>
        <P23045 para="LineKey44.Label">{{ linekey_label_44 }}</P23045>
        <P23046 para="LineKey44.Account">{{ linekey_line_44 }}</P23046>
        <P23047 para="LineKey44.PickupCode">{{ pickup_direct }}</P23047>
	<P23048 para="LineKey45.Type">{{ linekey_type_45 }}</P23048>
        <P23049 para="LineKey45.Mode">0</P23049>
        <P23050 para="LineKey45.Value">{{ linekey_value_45 }}</P23050>
        <P23051 para="LineKey45.Label">{{ linekey_label_45 }}</P23051>
        <P23052 para="LineKey45.Account">{{ linekey_line_45 }}</P23052>
        <P23053 para="LineKey45.PickupCode">{{ pickup_direct }}</P23053>
	<!--FunctionKeys/MemoryKey-->
        <P42200 para="MemoryKey1.Type">0</P42200>
        <P42300 para="MemoryKey1.Value" />
        <P42400 para="MemoryKey1.Account">0</P42400>
        <P42500 para="MemoryKey1.PickupCode" />
        <P42201 para="MemoryKey2.Type">0</P42201>
        <P42301 para="MemoryKey2.Value" />
        <P42401 para="MemoryKey2.Account">0</P42401>
        <P42501 para="MemoryKey2.PickupCode" />
        <P42202 para="MemoryKey3.Type">0</P42202>
        <P42302 para="MemoryKey3.Value" />
        <P42402 para="MemoryKey3.Account">0</P42402>
        <P42502 para="MemoryKey3.PickupCode" />
        <P42203 para="MemoryKey4.Type">0</P42203>
        <P42303 para="MemoryKey4.Value" />
        <P42403 para="MemoryKey4.Account">0</P42403>
        <P42503 para="MemoryKey4.PickupCode" />
        <P42204 para="MemoryKey5.Type">0</P42204>
        <P42304 para="MemoryKey5.Value" />
        <P42404 para="MemoryKey5.Account">0</P42404>
        <P42504 para="MemoryKey5.PickupCode" />
        <P42205 para="MemoryKey6.Type">0</P42205>
        <P42305 para="MemoryKey6.Value" />
        <P42405 para="MemoryKey6.Account">0</P42405>
        <P42505 para="MemoryKey6.PickupCode" />
        <P42206 para="MemoryKey7.Type">0</P42206>
	<!--FunctionKeys/ProgrammableKey-->
	<P43200 para="SoftKey1.Type">{{ softkey_type_1 }}</P43200>
        <P43300 para="SoftKey1.Account">0</P43300>
	<P43400 para="SoftKey1.Value">{{ softkey_value_1 }}</P43400>
	<P20043 para="ProgrammableKey1.Label">{{ softkey_label_1 }}</P20043>
	<P43201 para="SoftKey2.Type">{{ softkey_type_2 }}</P43201>
        <P43301 para="SoftKey2.Account">0</P43301>
	<P43401 para="SoftKey2.Value">{{ softkey_value_2 }}</P43401>
	<P20044 para="ProgrammableKey2.Label">{{ softkey_label_2 }}</P20044>
	<P43202 para="SoftKey3.Type">{{ softkey_type_3 }}</P43202>
        <P43302 para="SoftKey3.Account">0</P43302>
	<P43402 para="SoftKey3.Value">{{ softkey_value_3 }}</P43402>
	<P20045 para="ProgrammableKey3.Label">{{ softkey_label_3 }}</P20045>
	<P43203 para="SoftKey4.Type">{{ softkey_type_4 }}</P43203>
        <P43303 para="SoftKey4.Account">0</P43303>
	<P43403 para="SoftKey4.Value">{{ softkey_value_4 }}</P43403>
	<P20046 para="ProgrammableKey4.Label">{{ softkey_label_4 }}</P20046>
        <P43204 para="UpKey.Type">36</P43204>
        <P43205 para="DownKey.Type">15</P43205>
        <P43206 para="LeftKey.Type">23</P43206>
        <P43207 para="RightKey.Type">22</P43207>
        <P43208 para="OKKey.Type">40</P43208>
        <P43209 para="CancelKey.Type">0</P43209>
        <P43210 para="ConfKey.Type">0</P43210>
        <P43211 para="HoldKey.Type">0</P43211>
        <P43212 para="MuteKey.Type">0</P43212>
        <P43213 para="TranKey.Type">18</P43213>
        <P43214 para="Speaker.Type">1</P43214>
        <P43215 para="Headset.Type">1</P43215>
        <P43216 para="Voicemail.Type">1</P43216>
        <P43217 para="Menu.Type">1</P43217>
        <P43218 para="VolumeUp.Type">1</P43218>
        <P43219 para="VolumeDown.Type">1</P43219>
        <!--Setting-->
        <!--Setting/Preference-->
        <P2525 para="Preference.WebLanguage">{{ sangoma.language(language) }}</P2525>
        <P64 para="Preference.TimeZone">{{ sangoma.timezone(timezone) }</P64>
        <P143 para="Preference.DHCPTime">0</P143>
        <P75 para="Preference.DaylightSavingTime">2</P75>
        <P23117 para="Preference.DaylightSavingTimeType">0</P23117>
        <P23118 para="Preference.DSTStartWeekMonth">3</P23118>
        <P23119 para="Preference.DSTStartWeeknum">5</P23119>
        <P23120 para="Preference.DSTStartWeekday">0</P23120>
        <P23121 para="Preference.DSTStartWeekhour">2</P23121>
        <P23122 para="Preference.DSTEndWeekMonth">10</P23122>
        <P23123 para="Preference.DSTEndWeeknum">5</P23123>
        <P23124 para="Preference.DSTEndWeekday">0</P23124>
        <P23125 para="Preference.DSTEndWeekhour">3</P23125>
        <P102 para="Preference.DateDisplayFormat">{{ date_format }}</P102>
        <P8624 para="Preference.TimeFormat">{{ time_format }}</P8624>
        <P88 para="Preference.LockKeypadUpdate">0</P88>
        <P1300 para="Preference.KeypadDTMFTone">0</P1300>
        <P249 para="Preference.MICVolumeAmplification">0</P249>
        <P8683 para="Preference.BacklightTime">{{ backlight_time }}</P8683>
        <P8940 para="Preference.ScreenTimeOut">{{ screensaver_wait_time }}</P8940>
        <P8950 para="Preference.ScreenSaverType">{{ screensaver_mode }}</P8950>
        <P8721 para="Preference.RingTones">{{ default_ringtone }}</P8721>
        <P85 para="Preference.NoKeyEntryTimeout">3</P85>
        <P3734 para="Preference.LEDPowerStatus">1</P3734>
        <P3735 para="Preference.LEDRingingStatus">1</P3735>
        <P3736 para="Preference.LEDMissCallsStatus">1</P3736>
        <P8672 para="Preference.IncomingCallShowMode">1</P8672>
        <P8680 para="Preference.WatchDogEnable">1</P8680>
        <P2532 para="Preference.DisplayMode">0</P2532>
	<P8660 para="Preference.WallPaper">{{ wallpaper }}</P8660>
        <P20018 para="Preference.DialFirstDigit">1</P20018>
        <P1399 para="Preference.AlertInternalText">ring1</P1399>
        <P1402 para="Preference.AlertInternalRinger">1</P1402>
        <P1400 para="Preference.AlertExternalText">ring2</P1400>
        <P1403 para="Preference.AlertExternalText">2</P1403>
        <P1401 para="Preference.AlertGroupText">ring3</P1401>
        <P1404 para="Preference.AlertGroupText">3</P1404>
        <P20017 para="Preference.RefreshCallerIdViaContact">0</P20017>
        <P20019 para="Preference.HeadSetPriority">0</P20019>
        <P20020 para="Preference.RingerDeviceForHeadSet">1</P20020>
	<P8621 para="Preference.LcdLanguage">{{ sangoma.language(language) }}</P8621>
        <P56203 para="Preference.BusyToneTimer">4</P56203>
        <P23263 para="Preference.LogoLED">{{ lcd_logo_mode }}</P23263>
        <P23279 para="Preference.WebSettingHighPriority">1</P23279>
        <P23400 para="Preference.AutoAnswerAlert">0</P23400>
        <P23401 para="Preference.LongPressFlag">0</P23401>
        <P23402 para="Preference.BlockAttackOnoff">1</P23402>
        <P24792 para="Preference.SpeakerOverHeadsetWhenIntercom">0</P24792>
        <!--Setting/Features-->
        <P53100 para="ForwardAlways.OnOff">{{ _context['always_fwd_enable_1]|default }}</P53100>
        <P53101 para="ForwardAlways.Target" >{{ _context['always_fwd_target_1]|default }}</P53101>
        <P53102 para="ForwardAlways.OnCode">{{ cfalwayson }}</P53102>
        <P53103 para="ForwardAlways.OffCode">{{ cfalwaysoff }}</P53103>
        <P53110 para="ForwardBusy.OnOff">{{ _context['busy_fwd_enable_1]|default }}</P53110>
	<P53111 para="ForwardBusy.Target" >{{ _context['busy_fwd_target_1]|default }}</P53111>
        <P53112 para="ForwardBusy.OnCode">{{ cfbusyon }}</P53112>
        <P53113 para="ForwardBusy.OffCode">{{ cfbusyoff }}</P53113>
        <P53120 para="ForwardNoAnswer.OnOff">{{ _context['timeout_fwd_enable_1]|default }}</P53120>
        <P53124 para="ForwardNoAnswer.AfterRingTime">{{ cftimeout }}</P53124>
	<P53121 para="ForwardNoAnswer.Target" >{{ _context['timeout_fwd_target_1]|default }}</P53121>
        <P53122 para="ForwardNoAnswer.OnCode">{{ cftimeouton }}</P53122>
        <P53123 para="ForwardNoAnswer.OffCode">{{ cftimeoutoff }}</P53123>
        <P53200 para="DND.OnCode">{{ dndon }}</P53200>
        <P53201 para="DND.OffCode">{{ dndoff }}</P53201>
        <P53202 para="DND.AuthNum" />
        <P4210 para="Hotline.Number" />
        <P8638 para="Hotline.TimeOut">0</P8638>
        <P3201 para="Transfer.BlindTransferOnHook">1</P3201>
        <P3202 para="Transfer.Semi-AttendedTransfer">1</P3202>
        <P3204 para="Transfer.AttendedTransferOnHook">1</P3204>
        <P3205 para="Transfer.TransferModeviaDSSkey">{{ dss_transfer }}</P3205>
        <P3207 para="Transfer.HoldTransferOnHook">0</P3207>
        <P4701 para="CallPickup.DirectCallPickup">1</P4701>
        <P4745 para="CallPickup.DirectCallPickupCode">{{ pickup_direct }}</P4745>
        <P4702 para="CallPickup.GroupCallPickup">1</P4702>
        <P4746 para="CallPickup.GroupCallPickupCode">{{ pickup_group }}</P4746>
        <P4703 para="CallPickup.VisualAlertForBLFPickup">0</P4703>
        <P4704 para="CallPickup.AudioAlertForBLFPickup">0</P4704>
        <P8630 para="PhoneLock.KeypadLock">0</P8630>
        <P5730 para="PhoneLock.PhoneUnlockPin" />
        <P5731 para="PhoneLock.AutoLockTime">15</P5731>
        <P5732 para="PhoneLock.Emergency" />
        <P8849 para="CallWaiting.OnOff">{{ call_waiting }}</P8849>
        <P8850 para="CallWaiting.Tone">{{ call_waiting_tone }}</P8850>
        <P56204 para="AutoRedial.OnOff">{{ auto_redial }}</P56204>
        <P56205 para="AutoRedial.Interval">3</P56205>
        <P56206 para="AutoRedial.Times">3</P56206>
        <P20930 para="CallPark.Flag">0</P20930>
        <P20931 para="CallPark.Code" />
        <P23261 para="VoiceMailKeySetting.Type">0</P23261>
        <P23262 para="VoiceMailKeySetting.XMLAppValue" />
        <P23264 para="LEDStatus.LEDStatus_Ringing_Speed">0</P23264>
        <P23265 para="LEDStatus.LEDStatus_Ringing_LightColor">1</P23265>
        <P23266 para="LEDStatus.LEDStatus_VoiceMsg_Speed">1</P23266>
        <P23267 para="LEDStatus.LEDStatus_VoiceMsg_LightColor">0</P23267>
        <P23268 para="LEDStatus.LEDStatus_MissCall_Speed">1</P23268>
        <P23269 para="LEDStatus.LEDStatus_MissCall_LightColor">0</P23269>
        <P23270 para="LEDStatus.LEDStatus_Power_Speed">2</P23270>
        <P23271 para="LEDStatus.LEDStatus_Power_LightColor">0</P23271>
        <P23272 para="LEDStatus.LEDStatus_ActiveCall_Speed">2</P23272>
        <P23273 para="LEDStatus.LEDStatus_ActiveCall_LightColor">1</P23273>
        <P23274 para="LEDStatus.ActiveCallStatus">1</P23274>
        <!--Setting/Tone-->
        <P4000 para="Tones.DialTone">f1=350@-13,f2=440@-13,c=0/0;</P4000>
        <P4001 para="Tones.RingbackTone">f1=440@-19,f2=480@-19,c=2000/4000;</P4001>
        <P4002 para="Tones.BusyTone">f1=480@-24,f2=620@-24,c=500/500;</P4002>
        <P4003 para="Tones.ReorderTone">f1=480@-24,f2=620@-24,c=250/250;</P4003>
        <P4004 para="Tones.ConfirmationTone">f1=350@-11,f2=440@-11,c=100/100-100/100-100/100;</P4004>
        <P4005 para="Tones.CallWaitingTone">f1=440@-13,c=300/10000-300/10000-0/0;</P4005>
        <!--Setting/SMS-->
        <P58100 para="SMS.Account" />
        <P58101 para="SMS.Number" />
        <P58102 para="SMS.Message" />
        <!--Setting/ActionUrl-->
        <P3701 para="ActionUrl.SetupCompleted" />
        <P3702 para="ActionUrl.LogOn" />
        <P3703 para="ActionUrl.LogOff" />
        <P3704 para="ActionUrl.RegisterFailed" />
        <P3705 para="ActionUrl.OffHook" />
        <P3706 para="ActionUrl.OnfHook" />
        <P3707 para="ActionUrl.IncomingCall" />
        <P3708 para="ActionUrl.OutgoingCall" />
        <P3709 para="ActionUrl.CallEstablished" />
        <P3710 para="ActionUrl.CallTerminated" />
        <P3711 para="ActionUrl.OpenDND" />
        <P3712 para="ActionUrl.CloseDND" />
        <P3713 para="ActionUrl.OpenAlwaysForward" />
        <P3714 para="ActionUrl.CloseAlwaysForward" />
        <P3715 para="ActionUrl.OpenBusyForward" />
        <P3716 para="ActionUrl.CloseBusyForward" />
        <P3717 para="ActionUrl.OpenNoAnswerForward" />
        <P3718 para="ActionUrl.CloseNoAnswerForward" />
        <P3719 para="ActionUrl.TransferCall" />
        <P3720 para="ActionUrl.BlindTrandfercall" />
        <P3721 para="ActionUrl.AttendedTransferCall" />
        <P3722 para="ActionUrl.Hold" />
        <P3723 para="ActionUrl.Unhold" />
        <P3724 para="ActionUrl.Mute" />
        <P3725 para="ActionUrl.Unmute" />
        <P3726 para="ActionUrl.MissedCall" />
        <P3727 para="ActionUrl.IdleToBusy" />
        <P3728 para="ActionUrl.BusyToIdel" />
        <P3729 para="ActionUrl.ForwardIncomingCall" />
        <P3730 para="ActionUrl.RejectIncomingCall" />
        <P3731 para="ActionUrl.AnswerNewIncomingCall" />
        <P3732 para="ActionUrl.TransferFinished" />
        <P3733 para="ActionUrl.TransfeFailed" />
        <P24755 para="ActionUrl.FirmwareUpgraded" />
        <P24756 para="ActionUrl.ConfigProvisioned" />
        <!--Setting/SoftKeyLayout-->
        <P8751 para="SoftKeyLayout.CustomSoftkey">1</P8751>
        <P23365 para="ActionUrl.REGISTERED" />
        <P23366 para="ActionUrl.DEREGISTERED" />
        <!--Directory-->
        <!--Directory/RemotePhoneBook-->
        <P4401 para="RemotePhoneBook1.Url" />
        <P3316 para="RemotePhoneBook1.Name" />
        <P4402 para="RemotePhoneBook2.Url" />
        <P3312 para="RemotePhoneBook2.Name" />
        <P4403 para="RemotePhoneBook3.Url" />
        <P3313 para="RemotePhoneBook3.Name" />
        <P4404 para="RemotePhoneBook4.Url" />
        <P3314 para="RemotePhoneBook4.Name" />
        <P4405 para="RemotePhoneBook5.Url" />
        <P3315 para="RemotePhoneBook5.Name" />
        <!--Directory/LDAP-->
        <P5430 para="LDAP.NameFilter">{{ ldap_name_filter }}</P5430>
        <P5431 para="LDAP.NumberFilter">{{ ldap_number_filter }}</P5431>
        <P5432 para="LDAP.ServerAddress">{{ ldap_server }}</P5432>
        <P5433 para="LDAP.Port">{{ ldap_port }}</P5433>
        <P5434 para="LDAP.Base">{{ ldap_base }}</P5434>
	<P5435 para="LDAP.UserName">{{ ldap_user }}</P5435>
        <P5436 para="LDAP.Password">{{ ldap_password }}</P5436>
        <P5437 para="LDAP.Max.Hits">50</P5437>
        <P5440 para="LDAP.DisplayName">{{ ldap_name_display }}</P5440>
        <P23136 para="Directory.LDAPNameAttributes">{{ ldap_name_attr }}</P23136>
        <P23137 para="Directory.LDAPNumberAttributes">{{ ldap_number_attr }}</P23137>
        <P5442 para="LDAP.SearchDelay">200</P5442>
        <P5441 para="LDAP.Protocol">1</P5441>
        <P5443 para="LDAP.LookupForIncomingCall">0</P5443>
        <P5444 para="LDAP.SortingResults">1</P5444>
        <!--Directory/BroadSoft-->
        <P8519 para="BroadSoftItem" />
        <P8520 para="BroadSoft1.DisplayName" />
        <P8521 para="BroadSoft1.Server" />
        <P8522 para="BroadSoft1.Port">0</P8522>
        <P8523 para="BroadSoft1.User" />
        <P8524 para="BroadSoft1.PassWord" />
        <P8530 para="BroadSoft2.DisplayName" />
        <P8531 para="BroadSoft2.Server" />
        <P8532 para="BroadSoft2.Port">0</P8532>
        <P8533 para="BroadSoft2.User" />
        <P8534 para="BroadSoft2.PassWord" />
        <P8540 para="BroadSoft3.DisplayName" />
        <P8541 para="BroadSoft3.Server" />
        <P8542 para="BroadSoft3.Port">0</P8542>
        <P8543 para="BroadSoft3.User" />
        <P8544 para="BroadSoft3.PassWord" />
        <P8550 para="BroadSoft4.DisplayName" />
        <P8551 para="BroadSoft4.Server" />
        <P8552 para="BroadSoft4.Port">0</P8552>
        <P8553 para="BroadSoft4.User" />
        <P8554 para="BroadSoft4.PassWord" />
        <P8560 para="BroadSoft5.DisplayName" />
        <P8561 para="BroadSoft5.Server" />
        <P8562 para="BroadSoft5.Port">0</P8562>
        <P8563 para="BroadSoft5.User" />
        <P8564 para="BroadSoft5.PassWord" />
        <P8570 para="BroadSoft6.DisplayName" />
        <P8571 para="BroadSoft6.Server" />
        <P8572 para="BroadSoft6.Port">0</P8572>
        <P8573 para="BroadSoft6.User" />
        <P8574 para="BroadSoft6.PassWord" />
        <!--Directory/CallLog-->
        <P8579 para="CallLogItem" />
        <P8580 para="CallLog1.DisplayName" />
        <P8581 para="CallLog1.Server" />
        <P8582 para="CallLog1.Port">0</P8582>
        <P8583 para="CallLog1.User" />
        <P8584 para="CallLog1.PassWord" />
        <P8585 para="CallLog2.DisplayName" />
        <P8586 para="CallLog2.Server" />
        <P8587 para="CallLog2.Port">0</P8587>
        <P8588 para="CallLog2.User" />
        <P8589 para="CallLog2.PassWord" />
        <P8590 para="CallLog3.DisplayName" />
        <P8591 para="CallLog3.Server" />
        <P8592 para="CallLog3.Port">0</P8592>
        <P8593 para="CallLog3.User" />
        <P8594 para="CallLog3.PassWord" />
        <!--Management-->
        <!--Management/PassWord-->
        <P8681 para="LogUser.Admin">admin</P8681>
        <P8682 para="LogUser.User">user</P8682>
	<P2 para="AdminPassword" >{{ adminpw }}</P2>
	<P196 para="UserPassword" >{{ userpw }}</P196>
        <!--Management/AutoProvision-->
        <P212 para="FirmwareUpGrade.UrgrateMode">{{ provisioning_protocol }}</P212>
        <P192 para="FirmwareUpGrade.FirmwareServerPath">{{ firmware_url }}</P192>
        <P237 para="FirmwareUpGrade.ConfigServerPath">{{ provisioning_url }}</P237>
        <P1145 para="FirmwareUpGrade.AllowDHCPOption">66</P1145>
        <P145 para="FirmwareUpGrade.ToOverrideServer">{{ dhcp_enable }}</P145>
        <P194 para="FirmwareUpGrade.AutoUpgrade">1</P194>
        <P193 para="FirmwareUpGrade.CheckUpgradeTimes">10080</P193>
        <P23132 para="FirmwareUpGrade.UpgradeEXPRom">1</P23132>
        <P1360 para="FirmwareUpGrade.UserName" />
        <P1361 para="FirmwareUpGrade.Password" />
        <P232 para="FirmwareUpGrade.FilePrefix" />
        <P233 para="FirmwareUpGrade.FilePostfix" />
        <P238 para="FirmwareUpGrade.CheckMode">0</P238>
        <P240 para="FirmwareUpGrade.AuthenticateCfgFile">0</P240>
        <P8631 para="FirmwareUpGrade.SetCommonAESKey" />
        <P23253 para="SoftkeyLayoutURL">1</P23253>
        <P331 para="PhonebookXmlDownload.ServerPath" />
        <P332 para="PhonebookXmlDownload.Interval">0</P332>
        <P333 para="PhonebookXmlDownload.RemoveMEOnDownload">0</P333>
        <P330 para="PhonebookXmlDownload.Enable">0</P330>
        <P8150 para="SNMPService.Enable">0</P8150>
        <P8151 para="SNMPService.GetCommunity" />
        <P8152 para="SNMPService.SetCommunity" />
        <P8153 para="SNMPService.ManagerIP1" />
        <P8154 para="SNMPService.ManagerIP2" />
        <P8155 para="SNMPService.ManagerIP3" />
        <P8156 para="SNMPService.ManagerIP4" />
        <!--Management/SystemLog-->
        <P207 para="SNMPService.SyslogServer" />
        <P208 para="SNMPService.Sysloglevel">0</P208>
        <!--Global Config-->
        <P8686 para="GlobalConfig.OEMTag">SANGOMA</P8686>
	<P8951 para="GlobalConfig.LogoText">{{ logo_text }}</P8951>
        <P40000 para="GlobalConfig.UserAgent" />
        <!--Add Config for Expansion 1-->
	{% set k = 60000 %}
	{% set module = 1 %}
	{% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
	<P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
	<P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
	<P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
	<P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
	<P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Expansion 2-->
	{% set k = 61000 %}
	{% set module = 1 %}
	{% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
	<P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
	<P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
	<P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
	<P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
	<P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Expansion 3-->
	{% set k = 62000 %}
	{% set module = 1 %}
	{% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
	<P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
	<P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
	<P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
	<P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
	<P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Expansion 4-->
	{% set k = 63000 %}
	{% set module = 1 %}
	{% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
	<P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
	<P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
	<P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
	<P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
	<P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Expansion 5-->
	{% set k = 64000 %}
	{% set module = 1 %}
	{% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
	<P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
	<P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
	<P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
	<P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
	<P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Expansion 6-->
	{% set k = 65000 %}
	{% set module = 1 %}
	{% for number in 1..40 %}
        {% if _context['softkey_type_' ~ number] is defined %}
	<P{{ k }} para="Exp1_{{ number }}.Type">{{ _context['expkey_type_' ~ module ~ '_' ~ number]|default }}<P{{ k }}>
	<P{{ k + 1 }} para="Exp{{ module }}_{{ number }}.Value">{{ _context['expkey_value_' ~ module ~ '_' ~ number]|default }}<P{{ k + 1 }}>
	<P{{ k + 2 }} para="Exp{{ module }}_{{ number }}.Label">{{ _context['expkey_label_' ~ module ~ '_' ~ number]|default }}<P{{ k + 2 }}>
	<P{{ k + 3 }} para="Exp{{ module }}_{{ number }}.Account">{{ _context['expkey_line_' ~ module ~ '_' ~ number]|default }}<P{{ k + 3 }}>
	<P{{ k + 4 }} para="Exp{{ module }}_{{ number }}.PickupCode">{{ pickup_direct }}<P{{ k + 4 }}>
        {% endif %}
        {% endfor %}
        <!--Add Config for Multicast Paging-->
        <P20021 para="MulticastPaging1.Value" />
        <P20022 para="MulticastPaging1.Label">Multicast 1</P20022>
        <P20023 para="MulticastPaging2.Value" />
        <P20024 para="MulticastPaging2.Label">Multicast 2</P20024>
        <P20025 para="MulticastPaging3.Value" />
        <P20026 para="MulticastPaging3.Label">Multicast 3</P20026>
        <P20027 para="MulticastPaging4.Value" />
        <P20028 para="MulticastPaging4.Label">Multicast 4</P20028>
        <P20029 para="MulticastPaging5.Value" />
        <P20030 para="MulticastPaging5.Label">Multicast 5</P20030>
        <P20031 para="MulticastPaging6.Value" />
        <P20032 para="MulticastPaging6.Label">Multicast 6</P20032>
        <P20033 para="MulticastPaging7.Value" />
        <P20034 para="MulticastPaging7.Label">Multicast 7</P20034>
        <P20035 para="MulticastPaging8.Value" />
        <P20036 para="MulticastPaging8.Label">Multicast 8</P20036>
        <P20037 para="MulticastPaging9.Value" />
        <P20038 para="MulticastPaging9.Label">Multicast 9</P20038>
        <P20039 para="MulticastPaging10.Value" />
        <P20040 para="MulticastPaging10.Label">Multicast 10</P20040>
        <P20041 para="MulticastPaging.Barge">0</P20041>
        <P20042 para="MulticastPaging.PriorityActive">0</P20042>
        <P20058 para="ToneSelectCountry">{{ sangoma.tonezone(tonezone) }}</P20058>
        <P20059 para="AlertRingText4">ring4</P20059>
        <P20060 para="AlertRingText5">ring5</P20060>
        <P20061 para="AlertRingText6">ring6</P20061>
        <P20062 para="AlertRingText7">ring7</P20062>
        <P20063 para="AlertRingText8">ring8</P20063>
        <P20064 para="AlertRingText9">ring9</P20064>
        <P20065 para="AlertRingText10">ring10</P20065>
        <P20066 para="AlertRingFile4">4</P20066>
        <P20067 para="AlertRingFile5">5</P20067>
        <P20068 para="AlertRingFile6">6</P20068>
        <P20069 para="AlertRingFile7">7</P20069>
        <P20070 para="AlertRingFile8">8</P20070>
        <P20071 para="AlertRingFile9">9</P20071>
        <P20072 para="AlertRingFile10">10</P20072>
        <P20073 para="RedialType">0</P20073>
        <P1085 para="DialNow-TimeOut">0</P1085>
        <P39 para="MinRtpPort">12100</P39>
        <P739 para="MaxRtpPort">12200</P739>
        <P20074 para="InterComBarge">0</P20074>
        <P20075 para="LcdShowMissCall">0</P20075>
        <P20076 para="DSTStartTime-Month">3</P20076>
        <P20077 para="DSTStartTime-Day">1</P20077>
        <P20078 para="DSTStartTime-Hour">2</P20078>
        <P20079 para="DSTEndTime-Month">10</P20079>
        <P20080 para="DSTEndTime-Day">1</P20080>
        <P20081 para="DSTEndTime-Hour">2</P20081>
        <P20082 para="VoiceMesgStatus">1</P20082>
        <P20083 para="HandSetSendVolume">0</P20083>
        <P20084 para="HeadSetSendVolume">0</P20084>
        <P20085 para="BLFSelectType">0</P20085>
        <P20086 para="CurrentCallStatus-1">0</P20086>
        <P20087 para="CurrentCallStatus-2">1</P20087>
        <P20088 para="CurrentCallStatus-3">2</P20088>
        <P20089 para="CurrentCallStatus-4">3</P20089>
        <P20090 para="CurrentCallStatus-5">4</P20090>
        <P20091 para="CurrentCallStatus-6">5</P20091>
        <P20092 para="CurrentCallStatus-7">6</P20092>
        <P20093 para="CurrentCallStatus-8">0</P20093>
        <P20094 para="CurrentCallStatus-9">0</P20094>
        <P20095 para="CurrentCallStatus-10">0</P20095>
        <P20096 para="BlfStatusText-1">terminated</P20096>
        <P20097 para="BlfStatusText-2">early</P20097>
        <P20098 para="BlfStatusText-3">confirmed</P20098>
        <P20099 para="BlfStatusText-4">confirmed</P20099>
        <P20100 para="BlfStatusText-5">confirmed</P20100>
        <P20101 para="BlfStatusText-6">confirmed</P20101>
        <P20102 para="BlfStatusText-7">unknown</P20102>
        <P20103 para="BlfStatusText-8">BlfStatusText-8</P20103>
        <P20104 para="BlfStatusText-9">BlfStatusText-9</P20104>
        <P20105 para="BlfStatusText-10">BlfStatusText-10</P20105>
        <P20106 para="BlfLedMode-1">2</P20106>
        <P20107 para="BlfLedMode-2">6</P20107>
        <P20108 para="BlfLedMode-3">1</P20108>
        <P20109 para="BlfLedMode-4">1</P20109>
        <P20110 para="BlfLedMode-5">1</P20110>
        <P20111 para="BlfLedMode-6">1</P20111>
        <P20112 para="BlfLedMode-7">0</P20112>
        <P20113 para="BlfLedMode-8">0</P20113>
        <P20114 para="BlfLedMode-9">0</P20114>
        <P20115 para="BlfLedMode-10">0</P20115>
        <P20116 para="SuppressDTMF">1</P20116>
        <P20117 para="SuppressDTMFDelay">1</P20117>
        <P20118 para="VoiceMailTone">1</P20118>
        <P20119 para="RTCPReportFlag">0</P20119>
        <P20120 para="RTCPReportCollector">RTCPReportCollector</P20120>
        <P20121 para="RTCPReportFormat">RTCPReportFormat</P20121>
        <P20155 para="ServerCaType">0</P20155>
        <P20156 para="TrustedCaType">0</P20156>
        <P20163 para="NetWork.StaticDNS">0</P20163>
        <P20164 para="MulticastPaging.MulticatCodec">0</P20164>
        <P20165 para="FirmwareUpGrade.PnPActive">{{ pnp_enable }}</P20165>
        <P20172 para="Preference.VmTransfer">0</P20172>
        <P20173 para="Preference.VmTransferCode" />
	<P20174 para="FirmwareUpGrade.RingUrl" />{{ ringtone_url }}</P20174>
        <P20175 para="FirmwareUpGrade.LanguageUrl" />
        <P20176 para="FirmwareUpGrade.HlpresUrl" />
        <P20177 para="FirmwareUpGrade.ExpPresUrl" />
        <P20178 para="FirmwareUpGrade.VPNUrl" />
        <P20179 para="FirmwareUpGrade.TCAUrl" />
        <P20180 para="FirmwareUpGrade.SCAUrl" />
        <P20051 para="FirmwareUpGrade.ScreensaverServerURL">{{ screesaver_url }}</P20051>
        <P20052 para="FirmwareUpGrade.WallpaperServerURL">{{ wallpaper_url }}</P20052>
	<P40002 para="FirmwareUpGrade.ExpServer" />{{ firmware_url }}</P40002>
        <P8620 para="Preference.HistoryRecord">0</P8620>
        <P20932 para="FirmwareUpGrade.ZeroTouchTime">5</P20932>
        <P20933 para="FirmwareUpGrade.ZeroTouchEnable">0</P20933>
        <P20934 para="Preference.ZeroTouchType">0</P20934>
        <P20935 para="Preference.ConfReleaseType">0</P20935>
        <P20943 para="Preference.DetectIPConflict">1</P20943>
        <P20944 para="BwXsiDir.AllowSipAuthForXsi">0</P20944>
        <P20945 para="BwXsiDir.Host" />
        <P20946 para="BwXsiDir.Port">80</P20946>
        <P20947 para="BwXsiDir.ServerType">0</P20947>
        <P20948 para="BwXsiDir.UserId" />
        <P20949 para="BwXsiDir.PassWord" />
        <P20950 para="BwXsiDir.UCUser" />
        <P20951 para="BwXsiDir.UCPassWord" />
        <P20952 para="LcdItemLevelEnable">0</P20952>
        <P20953 para="BwXsiDir.Group">1</P20953>
        <P20954 para="BwXsiDir.GroupCommon">1</P20954>
        <P20955 para="BwXsiDir.Enterprise">1</P20955>
        <P20956 para="BwXsiDir.EnterpriseCommon">1</P20956>
        <P20957 para="BwXsiDir.Personal">1</P20957>
        <P20958 para="BwXsiDir.CustomDir">1</P20958>
        <P20959 para="BwXsiDir.CallLogs">1</P20959>
        <P20960 para="BwXsiDir.GroupName">Group</P20960>
        <P20961 para="BwXsiDir.GroupCName">GroupCommon</P20961>
        <P20962 para="BwXsiDir.EnterpriseName">Interoperability</P20962>
        <P20963 para="BwXsiDir.EnterpriseCName">EnterpriseCommon</P20963>
        <P20964 para="BwXsiDir.PersonalName">Personal</P20964>
        <P20982 para="Preference.SpeedDialDetectDigitMap">0</P20982>
        <P20983 para="Preference.CheckSyncWithAuth">0</P20983>
        <P20984 para="Features.CallBackCode" />
        <P23204 para="Preference.PlayHoldTone">0</P23204>
        <P23205 para="Preference.PlayHoldToneDelay">30</P23205>
        <P23292 para="Preference.DesktopTopbarLabel" />
        <P20994 para="FirmwareUpGrade.SoftKeyXmlUrl" />
        <P20641 para="P_UC4XX_PAGING_DISPLAY" />
        <P20642 para="Preference.InactiveLevel">{{ inactive_backlight_level }}</P20642>
        <P20643 para="Preference.ActiveLevel">{{ active_backlight_level }}</P20643>
        <P23254 para="BLFPressSetting.ShortPressIdle" />
        <P23255 para="BLFPressSetting.ShortPressInUse" />
        <P23256 para="BLFPressSetting.LongPressIdle" />
        <P23257 para="BLFPressSetting.LongPressInUse" />
        <P23258 para="BLFPressSetting.LongPressRing" />
        <P23259 para="Preference.BlfVisualAlert" />
        <P23260 para="Preference.BlfAudioAlert" />
        <P20992 para="Preference.OpenSideTone">1</P20992>
        <P23280 para="Preference.ContactsPhotoServerPath" />
        <P23282 para="Preference.DisplayTransferIcon">0</P23282>
        <P23283 para="Preference.FailoverXMLBrowserServer" />
        <P23284 para="Preference.SecondFailoverXMLBrowserServer" />
        <P23289 para="Preference.XmlBrowserNotePopup">0</P23289>
        <P23290 para="Provision.BackupVPNServerURL" />
        <P8678 para="Preference.FontSize">1</P8678>
        <P23291 para="IfClearHistroyMissCallFlag" />
        <P23351 para="Features.ScreensaverTime.Sun.StartTime" />
        <P23352 para="Features.ScreensaverTime.Sun.EndTime" />
        <P23353 para="Features.ScreensaverTime.Mon.StartTime" />
        <P23354 para="Features.ScreensaverTime.Mon.EndTime" />
        <P23355 para="Features.ScreensaverTime.Tues.StartTime" />
        <P23356 para="Features.ScreensaverTime.Tues.EndTime" />
        <P23357 para="Features.ScreensaverTime.Wed.StartTime" />
        <P23358 para="Features.ScreensaverTime.Wed.EndTime" />
        <P23359 para="Features.ScreensaverTime.Thur.StartTime" />
        <P23360 para="Features.ScreensaverTime.Thur.EndTime" />
        <P23361 para="Features.ScreensaverTime.Fri.StartTime" />
        <P23362 para="Features.ScreensaverTime.Fri.EndTime" />
        <P23363 para="Features.ScreensaverTime.Sat.StartTime" />
        <P23364 para="Features.ScreensaverTime.Sat.EndTime" />
        <P23367 para="Preference.ExpPhotoServerPath" />
        <P20995 para="Preference.LcdGrayLevel">11</P20995>
        <P23368 para="Preference.ShowBootingInfo">1</P23368>
        <P23369 para="Preference.DiplayDateTimeInCall">0</P23369>
        <P23370 para="Preference.RebootWithoutPassword">0</P23370>
        <P24812 para="Preference.XMLAppMuteDTMFTone">1</P24812>
        <P23406 para="Preference.BLFMakeNewCallWhenRinging">0</P23406>
        <P23371 para="BTActive">0</P23371>
        <P23372 para="WIFIActive">0</P23372>
        <P23381 para="BTPinCodes">0000</P23381>
        <P23378 para="WIFISSID" />
        <P23379 para="WIFIWPAShareKey" />
        <P23380 para="WIFISecurityMode">0</P23380>
        <P23394 para="WIFIMode">0</P23394>
        <P23373 para="Preference.MultiPnpIgnorRole">0</P23373>
        <P23376 para="TrustCA.CommonNameValidation">0</P23376>
        <P23377 para="TrustCA.OnlyAcceptTrustedCertificates">1</P23377>
        <P24000 para="WanPortLinkSpeed">0</P24000>
        <P24001 para="LanPortLinkSpeed">0</P24001>
        <P23500 para="PCMonitorPort">0</P23500>
        <P23403 para="WifiSignalStrong">85</P23403>
        <P23404 para="WifiSignalNormal">70</P23404>
        <P23405 para="WifiSignalWeak">50</P23405>
        <P24053 para="VLAN.WANPort.Active">{{ voice_vlan_enable }}</P24053>
        <P24054 para="VLAN.PCPort.Active">{{ data_vlan_enable }}</P24054>
        <P23130 para="VLAN.VoiceQos">46</P23130>
        <P23129 para="VLAN.SipQos">26</P23129>
        <P23133 para="CDP.Active">0</P23133>
        <P23134 para="CDP.PacketInterval">60</P23134>
        <P24732 para="CDP.VID">0</P24732>
        <P24886 para="IfDelProvFilesIfPathEmpty">0</P24886>
        <P43217 para="MenuKeyType">1</P43217>
        <P43418 para="MenuKeyValue" />
    </config>
</hl_provision>
