{{ include('snom-includes.twig') }}<?xml version="1.0" encoding="utf-8"?>
<settings>
	<phone-settings>
		<redirect_always_on_code perm="">*72</redirect_always_on_code>
                <redirect_always_off_code perm="">*73</redirect_always_off_code>
                <redirect_busy_on_code perm="">*90</redirect_busy_on_code>
                <redirect_busy_off_code perm="">*91</redirect_busy_off_code>
                <redirect_time perm="">15</redirect_time>
                <redirect_time_on_code perm="">*52</redirect_time_on_code>
                <redirect_time_off_code perm="">*53</redirect_time_off_code>
                <dnd_on_code perm="">*78</dnd_on_code>
                <dnd_off_code perm="">*79</dnd_off_code>
                <block_url_dialing perm="">on</block_url_dialing>
                <display_method perm="">display_name_number</display_method>
                <update_policy perm="">auto_update</update_policy>
                <pnp_config perm="">off</pnp_config>
		<record_missed_calls idx="" perm="">on</record_missed_calls>
		<log_level perm="">5</log_level>
                <internal_ringer_text idx="0" perm="">ring1</internal_ringer_text>
                <internal_ringer_text idx="1" perm="">ring2</internal_ringer_text>
                <internal_ringer_text idx="2" perm="">ring3</internal_ringer_text>
                <internal_ringer_text idx="3" perm="">ring4</internal_ringer_text>
                <internal_ringer_text idx="4" perm="">ring5</internal_ringer_text>
                <internal_ringer_text idx="5" perm="">ring6</internal_ringer_text>
                <internal_ringer_text idx="6" perm="">ring7</internal_ringer_text>
                <internal_ringer_text idx="7" perm="">ring8</internal_ringer_text>
                <internal_ringer_text idx="8" perm="">ring9</internal_ringer_text>
                <internal_ringer_text idx="9" perm="">ring10</internal_ringer_text>
                <internal_ringer_text idx="10" perm="">ring11</internal_ringer_text>
                <internal_ringer_file idx="0" perm="">Ringer1</internal_ringer_file>
                <internal_ringer_file idx="1" perm="">Ringer2</internal_ringer_file>
                <internal_ringer_file idx="2" perm="">Ringer3</internal_ringer_file>
                <internal_ringer_file idx="3" perm="">Ringer4</internal_ringer_file>
                <internal_ringer_file idx="4" perm="">Ringer5</internal_ringer_file>
                <internal_ringer_file idx="5" perm="">Ringer6</internal_ringer_file>
                <internal_ringer_file idx="6" perm="">Ringer7</internal_ringer_file>
                <internal_ringer_file idx="7" perm="">Ringer8</internal_ringer_file>
                <internal_ringer_file idx="8" perm="">Ringer9</internal_ringer_file>
                <internal_ringer_file idx="9" perm="">Ringer</internal_ringer_file>
                <internal_ringer_file idx="10" perm="">Silent</internal_ringer_file>
		<led_on perm="">idle ON BUSY IN_A_CALL CALLING IN_A_MEETING URGENT_INTERRUPTIONS_ONLY DND UNAVAILABLE ACTIVE INACTIVE BE_RIGHT_BACK AWAY SEIZED CONNECTED ON_HOLD OFFHOOK RINGBACK I-Am-Ready AVAILABLE I-Am-Busy PhoneHasCall PhoneHasMissedCalls</led_on>
		<led_green perm="">idle AVAILABLE I-Am-Ready I-Am-Almost-Ready</led_green>
	</phone-settings>
	<dialplan>
	    <template match="*." timeout="2" scheme="sip" user="phone" rewrite="" />
	    <template match="*.." timeout="2" scheme="sip" user="phone" rewrite="" />
	    <template match="*..." timeout="2" scheme="sip" user="phone" rewrite="" />
	    <template match="*...." timeout="2" scheme="sip" user="phone" rewrite="" />
	    <template match="911" timeout="0" scheme="sip" user="phone" rewrite="" />
	    <template match="0" timeout="2" scheme="sip" user="phone" rewrite="" />
	    <template match="011*" timeout="4" scheme="sip" user="phone" rewrite="" />
	    <template match="[2-9]......" timeout="3" scheme="sip" user="phone" rewrite="" />
	    <template match="[2-9]........." timeout="3" scheme="sip" user="phone" rewrite="" />
	    <template match="[0-1][2-9]........." timeout="3" scheme="sip" user="phone" rewrite="" />
	    <template match="[1-9].." timeout="3" scheme="sip" user="phone" rewrite="" />
	    <template match="[1-9]..." timeout="3" scheme="sip" user="phone" rewrite="" />
	</dialplan>
</settings>
