{% import 'snom-includes.twig' as snom %}<?xml version="1.0" encoding="utf-8"?>
<settings>
	<phone-settings>
		<language perm="">{{ snom.language(language) }}</language>
                <web_language perm="">{{ snom.language(language) }}</web_language>
                <dhcp perm="">on</dhcp>
                <ntp_server perm="">{{ server_ip_1 }}</ntp_server>
                <dst perm=""></dst>
                <timezone perm="">{{ snom.timezone(timezone) }}</timezone>
                <time_24_format perm="">{{ time_24_format }}</time_24_format>
                <date_us_format perm="">{{ date_format }}</date_us_format>
                <network_id_port perm="">5060</network_id_port>
                <challenge_response perm="">off</challenge_response>
                <rtp_port_start perm="">10000</rtp_port_start>
                <rtp_port_end perm="">20000</rtp_port_end>
                <tone_scheme perm="">{{ tones_scheme }}</tone_scheme>

                <user_active idx="1" perm="">on</user_active>
                <user_host idx="1" perm="">{{ server_host_line_1 }}</user_host>
                <user_outbound idx="1" perm="">{{ server_host_line_1 }}</user_outbound>
                <user_realname idx="1" perm="">{{ displayname_line_1 }}</user_realname>
                <user_name idx="1" perm="">{{ username_line_1 }}</user_name>
                <user_pname idx="1" perm="">{{ username_line_1 }}</user_pname>
                <user_mailbox idx="1" perm="">{{ username_line_1 }}</user_mailbox>
                <user_pass idx="1" perm="">{{ secret_line_1 }}</user_pass>
                <user_idle_text idx="1" perm=""></user_idle_text>
                <user_dtmf_info idx="1" perm="">off</user_dtmf_info>
                <user_ringer idx="1" perm="">{{ defaultringer }}</user_ringer>
                <user_xml_screen_url idx="1" perm=""></user_xml_screen_url>
                <user_idle_text idx="1" perm=""></user_idle_text>
                <user_srtp idx="1" perm="">off</user_srtp>
                <codec_priority_list idx="1" perm="">pcmu,pcma,g722,g726-32,gsm,g729,telephone-event</codec_priority_list>
                <user_failover_identity idx="1" perm=""></user_failover_identity>
                <hide_identity idx="1" perm="">off</hide_identity>
                <user_expiry idx="1" perm="">3600</user_expiry>
                <call_waiting idx="1" perm="">{{ call_waiting }}</call_waiting>

                <user_active idx="2" perm="">on</user_active>
                <user_host idx="2" perm="">{{ server_host_line_2 }}</user_host>
                <user_outbound idx="2" perm="">{{ server_host_line_2 }}</user_outbound>
                <user_realname idx="2" perm="">{{ displayname_line_2 }}</user_realname>
                <user_name idx="2" perm="">{{ username_line_2 }}</user_name>
                <user_pname idx="2" perm="">{{ username_line_2 }}</user_pname>
                <user_mailbox idx="2" perm="">{{ username_line_2 }}</user_mailbox>
                <user_pass idx="2" perm="">{{ secret_line_2 }}</user_pass>
                <user_idle_text idx="2" perm=""></user_idle_text>
                <user_dtmf_info idx="2" perm="">off</user_dtmf_info>
                <user_ringer idx="2" perm="">{{ defaultringer }}</user_ringer>
                <user_xml_screen_url idx="2" perm=""></user_xml_screen_url>
                <user_idle_text idx="2" perm=""></user_idle_text>
                <user_srtp idx="2" perm="">off</user_srtp>
                <codec_priority_list idx="2" perm="">pcmu,pcma,g722,g726-32,gsm,g729,telephone-event</codec_priority_list>
                <user_failover_identity idx="2" perm=""></user_failover_identity>
                <hide_identity idx="2" perm="">off</hide_identity>
                <user_expiry idx="2" perm="">3600</user_expiry>
                <call_waiting idx="2" perm="">{{ call_waiting }}</call_waiting>

                <firmware_status perm="">{{ provisioning_type }}://{{ provisioning_path }}/provisioning/{{ mac }}_firmware.xml</firmware_status>
                <setting_server perm="">{{ provisioning_type }}://{{ provisioning_path }}/provisioning/{% if token %}{{token}}/{% endif %}</setting_server>
                <pnp_config perm="">off</pnp_config>
                <settings_refresh_timer perm="">3600</settings_refresh_timer>
                <vlan_id perm="">{{ svlan_id }}</vlan_id>
                <vlan_qos perm="">{{ svlan_qos }}</vlan_qos>
                <vlan_port_tagging perm="">{{ vlan_port_tagging }}</vlan_port_tagging>
                <vlan_pc_id perm="">{{ vlan_pc_id }}</vlan_pc_id>
                <vlan_pc_priority perm="">{{ vlan_pc_priority }}</vlan_pc_priority>

                <intercom_connect_type perm="">intercom_connect_type_handsfree</intercom_connect_type>
                <answer_after_policy>idle</answer_after_policy>
                <http_user perm="">admin</http_user>
                <http_pass perm="">{{ http_pass }}</http_pass>
                <http_scheme perm="">off</http_scheme>
                <https_port perm="">443</https_port>
                <webserver_type perm="">http_https</webserver_type>
                <webserver_cert perm=""></webserver_cert>
                <admin_mode_login perm=""></admin_mode_login>
                <admin_mode_password perm="">{{ admin_mode_password }}</admin_mode_password>
                <admin_mode_password_confirm perm="">{{ admin_mode_password }}</admin_mode_password_confirm>
                <admin_mode perm="">{{ admin_mode }}</admin_mode>
                <utc_offset perm="">3600</utc_offset>
                <dst perm="">3600 03.05.07 02:00:00 10.05.07 03:00:00</dst>
                <keyboard_lock_emergency perm=""></keyboard_lock_emergency>

                <ldap_server perm="">{{ ldap_server }}</ldap_server>
                <ldap_port perm="">{{ ldap_port }}</ldap_port>
                <ldap_base perm="">{{ ldap_base }}</ldap_base>
                <ldap_max_hits perm="">50</ldap_max_hits>
                <ldap_search_filter perm="">{{ ldap_name_filter }}</ldap_search_filter>
                <ldap_number_filter perm="">{{ ldap_number_filter }}</ldap_number_filter>
                <ldap_name_attributes perm="">{{ ldap_name_attr }}</ldap_name_attributes>
                <ldap_number_attributes perm="">{{ ldap_number_attr }}</ldap_number_attributes>
                <ldap_display_name perm="">{{ ldap_name_display }}</ldap_display_name>
                <ldap_sort_results perm="">on</ldap_sort_results>
                <ldap_predict_text perm="">on</ldap_predict_text>
                <perform_initial_query_in_ldap_state perm="">on</perform_initial_query_in_ldap_state>
                <call_completion perm="">off</call_completion>
                <guess_number perm="">off</guess_number>
                <guess_start_length perm="">5</guess_start_length>
                <transfer_on_hangup perm="">on</transfer_on_hangup>
                <transfer_on_hangup_non_pots perm="">on</transfer_on_hangup_non_pots>
                <transfer_on_hangup_with_starcode perm="">on</transfer_on_hangup_with_starcode>

                <gui_fkey1 perm="">{{ gui_fkey1 }}</gui_fkey1>
                <gui_fkey2 perm="">{{ gui_fkey2 }}</gui_fkey2>
                <gui_fkey3 perm="">{{ gui_fkey3 }}</gui_fkey3>
                <gui_fkey4 perm="">{{ gui_fkey4 }}</gui_fkey4>

                <dkey_help perm="R">{{ dkey_help }}</dkey_help>
                <dkey_snom perm="R">{{ dkey_snom }}</dkey_snom>
                <dkey_conf perm="R">{{ dkey_conf }}</dkey_conf>
                <dkey_transfer perm="R">{{ dkey_transfer }}</dkey_transfer>
                <dkey_hold perm="R">{{ dkey_hold }}</dkey_hold>
                <dkey_dnd perm="R">{{ dkey_dnd }}</dkey_dnd>
                <dkey_record perm="R">{{ dkey_record }}</dkey_record>
                <dkey_retrieve perm="R">{{ dkey_retrieve }}</dkey_retrieve>
                <dkey_redial perm="R">{{ dkey_redial }}</dkey_redial>
                <dkey_directory perm="R">{{ dkey_directory }}</dkey_directory>
                <dkey_label_page_next perm="R">{{ dkey_label_page_next }}</dkey_label_page_next>

        </phone-settings>
        <functionKeys>
        </functionKeys>
</settings>


