name: PR for nethserver-tancredi RPM
on:
  push:
    branches:
      - master
      - github-workflow-rpm

jobs:
  open-pr:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout nethserver-tancredi code
      uses: actions/checkout@v2
      with:
        repository: nethesis/nethserver-tancredi
        ref: master
        token: ${{ secrets.NETHBOT_TOKEN }}

    - name: "Edit the .spec file"
      run: |
        sed -i -e '/^Source1: / c\Source1: https://github.com/nethesis/tancredi/archive/${{ github.sha }}/tancredi.tar.gz' nethserver-tancredi.spec
        git diff

    - name: Send a pull request to nethserver-tancredi
      uses: peter-evans/create-pull-request@v2
      with:
        token: ${{ secrets.NETHBOT_TOKEN }}
        committer: NethBot <NethBot@users.noreply.github.com>
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
        reviewers: DavidePrincipi,Stell0  
        title: Bump tancredi version
        body: |
          Triggered by commit ${{ github.repository }}@${{ github.sha }}
        branch: upstream-updates
        commit-message: |
          Bump tancredi version
          
          Update to upstream version ${{ github.repository }}@${{ github.sha }}
